/*
 * Copyright (c) 2020. 7Summits Inc. All rights reserved.
 */

/**
 * Created by francoiskorb on 8/30/19.
 */

.THIS .x7sCard {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.THIS .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.THIS .product {
    overflow:hidden;
    height: 100%;
}
.THIS .product_featured {
    border-radius: 5px;
    box-shadow: 0 7px 15px rgba(0,0,0,.1), 0 7px 5px -5px rgba(0,0,0,.05);
    padding-bottom: 1rem;
}