/*
 * Copyright (c) 2020. 7Summits Inc. All rights reserved.
 */

/**
 * Created by francoiskorb on 9/11/19.
 */

.THIS .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.THIS .productImage {
    width: 100%;
    cursor: zoom-in;
}

.THIS.imageModal {
}