<template>
  {productCode}
  <!-- <a class={strikeThroughClass} onclick={handleClickProductCode}>{productCode}</a> -->
  <a class={strikeThroughClass} onclick={handleClickOrderNumber}>{orderNumber}</a>
  <a class={strikeThroughClass} onclick={handleClick}>{quoteNumber}</a>

  <span class={strikeThroughClass}>{productName}</span>

  <template if:true={productName}>
    <br>
    <span title={leadTime} class="slds-text-color_weak"><em class={strikeThroughClass}>{leadTime}</em></span>
  </template>

  {productDescription}
</template>