<!--
 - Created by might on 5/18/2020.
 -->

<!-- 7S Cart Table Subtotal Column -->
<template>
    <lightning-formatted-number class={strikeThroughClass} value={subtotal} format-style="currency"
        currency-code={currencyCode}>
    </lightning-formatted-number>
</template>