/**
 * 7Summits_Theme - Front-end assets used for the 7Summits Theme
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  background-color: #fff;
  /* Search Bar */
}
.THIS .x7s-layout__full,
.THIS .x7s-layout__full.siteforceContentArea {
  max-width: 100%;
}
.THIS .x7s-header__content {
  background-position: 50% 50%;
}
.THIS .x7s-header_fixed .x7s-theme__single-bar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5001;
}
.THIS .x7s-header_shadow-xs,
.THIS .x7s-header_scrolled .x7s-header_shadow-scrolled-xs {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.THIS .x7s-header_shadow-small,
.THIS .x7s-header_scrolled .x7s-header_shadow-scrolled-small {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
}
.THIS .x7s-header_shadow-medium,
.THIS .x7s-header_scrolled .x7s-header_shadow-scrolled-medium {
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.2);
}
.THIS .x7s-header_shadow-large,
.THIS .x7s-header_scrolled .x7s-header_shadow-scrolled-large {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
}
.THIS .x7s-header_shadow-xl,
.THIS .x7s-header_scrolled .x7s-header_shadow-scrolled-xl {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
}
.THIS .x7s_Theme .x7s-layout_shaded,
.THIS .x7s_Theme .x7s-layout__lead {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.THIS .x7s-theme__body {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.THIS .x7s-theme__footer {
  margin-top: t(spacingXxLarge);
}
.THIS .x7s-theme__logo-link {
  position: relative;
  display: block;
  background-image: t('url(' + brandLogoImage + ')');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.THIS.x7s-theme_narrow-banners .x7s-layout__lead-content {
  max-width: 100%;
  padding: 2rem 0;
}
@media screen and (min-width: 48em) {
  .THIS .x7s-search-input_small .big-search-container.forceCommunitySearchBox .result-container {
    width: 200%;
    right: 0;
  }
  .THIS .big-search-container.forceCommunitySearchBox .body-search {
    max-width: 100%;
  }
  .THIS .big-search-container.forceCommunitySearchBox .search-field {
    border-radius: 6px;
    height: 36px;
    min-height: 36px;
  }
  .THIS .big-search-container.forceCommunitySearchBox .search-button {
    border-radius: 4px;
    height: 32px;
    width: auto;
    margin: 2px;
    line-height: 1;
  }
  .THIS .x7s-search-input_small .big-search-container.forceCommunitySearchBox .search-field {
    height: 30px;
    min-height: 30px;
  }
  .THIS .x7s-search-input_small .big-search-container.forceCommunitySearchBox .search-button {
    height: 26px;
  }
}