@import (inline) url("branding-tokens.css");
@import "../../_base/components-common";

.THIS {
  font-family: "Roboto", sans-serif;
  // add 1160px max width on content containers
  .slds-container_x-large {
    max-width: 74rem; // 1160px + 24px padding = 1184px
  }

  // increase padding on all main containers
  // prevents horizontal-scrolling on mobile when pull-padding a lightning-layout
  // include deprecated '.slds-col--padded' class because SF is still using this in some page layouts for some reason
  .slds-col_padded,
  .slds-col--padded {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  // hidden skip link for screen readers
  .forceSkipLink {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 6px 12px;
    background: transparent;
  }

  // logo
  .cBrandingProfile {
    min-width: 150px; // change this width to match comp
  }

  .cBrandingLogo {
    position: relative;
    display: block;
    outline: 0;
    width: 200px;
    height: 110px; // change this height to match comp
  }

  // User Profile Menu
  .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
    text-align: left;

    a:hover,
    a:focus,
    a:active {
      color: @inverseTextColor; // retain inverse color for arrow on profile menu hover, focus, active states
    }
  }

  // cNotifications
  .cNotifications {
    .forceIcon.slds-button__icon {
      .slds-icon {
        fill: @white;
      }
    }
    // fix notification bell bug that causes horizontal scrolling
    .uiTooltip .tooltip-invisible {
      display: none;
    }
  }

  // Search
  .cSearchPublisher {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: auto;
  }

  // cFooterPanel - gray box
  .cFooterPanel {
    background-color: @borderColor;
  }

  // cSubFooterPanel
  // .cSubFooterPanel {
  //   background-color: @brandColor;
  // }

  // TYPOGRAPHY
  .x7s-line-through {
    text-decoration: line-through;
  }
  .siteforceContentArea {
    .slds-modal__footer {
      a.slds-text-color_inverse {
        color: var(--lwc-colorTextInverse, #ffffff);
      }
    }
    a,
    .forceCommunityRichText a {
      color: @brandLink;
    }

    h1:not([class*="slds-page-header__title"]) {
      font-size: 2.25rem;
      color: @gray;
      line-height: 1.2;
      font-weight: normal;
    }

    h1,
    h2 {
      font-weight: bold;
    }

    h2 {
      font-size: 1.875rem;
      line-height: 1.2;
    }

    h3,
    h4,
    h5 {
      color: @altColor;
      font-weight: normal;
    }

    h3,
    h4 {
      font-size: 1.625rem;
    }
  }

  .nvent-brand-color {
    color: @brandPrimary;
  }

  .forceCommunityUserProfileWithBanner {
    .content {
      background-color: white;

      .branding-actions {
        a {
          &.forceActionLink {
            border-radius: 1.5rem;
            padding: 0.25rem 2rem;
            text-transform: uppercase;
            color: @white;
            background-color: @brandPrimary;

            &:hover {
              color: @white;
              background-color: @brandPrimaryHover;
            }
          }
        }
      }
    }
  }

  // Cart Summary
  .nvent-cart-summary_container {
    background-color: @grayHue7;
    // text-transform: uppercase;
    position: relative;
  }

  .nvent-text_muted {
    color: @brandTextMuted;
  }

  // AURA COMPONENT OVERRIDES (Expedition Pack v1)
  // =============================================

  //.cPeak_Tile {
  //    .peak-tile__description {
  //        font-size: 1rem;
  //    }
  //}

  // Salesforce Component Overrides
  // ==============================

  // global navigation
  .comm-navigation__list {
    > .slds-list__item {
      padding: 0 1rem;

      a {
        font-size: 1.25rem;
        padding: 1rem 0;
        border-bottom: 5px solid transparent;

        &:hover {
          border-bottom: 5px solid @brandPrimary;
        }
      }
    }
  }

  .forceCommunityGlobalNavigation .slds-list__item a,
  .forceCommunityGlobalNavigation .slds-list__item button {
    text-transform: none;
  }
  .forceCommunityGlobalNavigation
    .slds-list_horizontal
    > .slds-list__item
    > .comm-navigation__item
    > a:hover,
  .forceCommunityGlobalNavigation
    .slds-list_horizontal
    > .slds-list__item
    > .comm-navigation__item
    > a.slds-is-active:not([data-type="home"]),
  .forceCommunityGlobalNavigation
    .slds-list_horizontal
    > .slds-list__item
    > .comm-navigation__item
    > button:hover,
  .forceCommunityGlobalNavigation
    .slds-list_horizontal
    > .slds-list__item
    > .comm-navigation__item
    > button.slds-is-active:not([data-type="home"]) {
    background-color: transparent;
  }

  // Tabs
  .uiTabset--base {
    .tabs__item {
      font-size: 1.125rem;
    }
  }
  .uiTabset--default {
    .tabs__nav {
      border-bottom: 2px solid transparent;
    }
    .tabs__item {
      text-transform: none;
      letter-spacing: 0;
      position: relative;
      bottom: -4px; // align active border with tab border
    }
    .tabs__item:not(.active) > a,
    .uiTabOverflowMenuItem a {
      color: @gray;
      border-bottom: 2px solid transparent;
    }
    .tabs__item > a,
    .uiTabOverflowMenuItem a {
      border-bottom: 2px solid transparent;
      &:hover {
        text-decoration: none;
        color: @brandPrimary;
      }
    }
    .tabs__item.active > a {
      border-color: @brandPrimary;
      color: @black;
    }
  }
  .forceCommunityTabset {
    .uiTabBar {
      .uiTabItem {
        .tabHeader {
          text-transform: uppercase;
          padding: 20px 40px;
        }
      }
    }
  }

  // STATUS COLORS
  .status {
    &-open {
      color: @statusValid;
    }
  }

  // LWC DATATABLE EXTENSION OVERRIDES
  .nvent-cart {
    // global table styles
    .slds-table {
      // hide th action buttons
      .slds-th__action-button {
        display: none;
      }

      .nvent-datatable-date-column {
        padding: 8px 24px 8px 8px !important;
      }

      .slds-has-button-menu {
        .slds-th__action {
          padding-right: 0.25rem;
        }
      }

      thead {
        th {
          color: @black;
          a {
            color: @black;
            &:hover {
              color: @black;
            }
          }
        }
      }

      // colspan subheadings (statements & forms)
      th[colspan] {
        background: @lightGray;

        &:hover {
          background: @lightGray;
        }
      }

      // hide box-shadow on row hover
      &.slds-table_bordered:not(.slds-no-row-hover) {
        tbody {
          tr:hover > td:not(.slds-is-selected),
          tr:hover > th:not(.slds-is-selected),
          tr:focus > td:not(.slds-is-selected),
          tr:focus > th:not(.slds-is-selected) {
            box-shadow: none;
          }
        }
      }

      &.slds-table_header-fixed {
        &.slds-table_bordered {
          border-top: 3px solid @borderColor;
        }
      }

      // left align text links in cells
      .slds-button {
        max-width: 100%;
        white-space: nowrap;
      }

      .slds-has-focus.slds-is-resizable .slds-th__action,
      .slds-has-focus.slds-is-resizable .slds-th__action:focus,
      .slds-has-focus.slds-is-resizable .slds-th__action:hover,
      .slds-has-focus.slds-is-resizable .slds-th__action:focus:hover,
      .slds-is-resizable .slds-th__action:focus,
      .slds-is-resizable .slds-th__action:focus:hover {
        box-shadow: none;
      }

      th:focus,
      th.slds-has-focus,
      [role="gridcell"]:focus,
      [role="gridcell"].slds-has-focus {
        box-shadow: none;

        .slds-th__action {
          box-shadow: none;
        }
      }

      thead {
        th {
          .slds-text-title_caps {
            font-weight: 900;
          }

          .slds-is-sortable .slds-th__action:hover,
          .slds-is-sortable .slds-th__action:focus,
          .slds-is-sortable.slds-has-focus .slds-th__action,
          .slds-is-sortable.slds-has-focus .slds-th__action:hover,
          .slds-is-sortable.slds-has-focus .slds-th__action:focus {
            background-color: transparent;
          }
        }
      }
    }

    lightning-primitive-cell-factory {
      > .slds-truncate {
        overflow: visible;
      }
    }

    tbody {
      td {
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
      }
    }

    .slds-th__action-button {
      display: none;
    }
  }

  // SLDS Button Style Overrides
  // .slds-button:not(".slds-button_icon-x-small")
  .slds-button {
    border-radius: 1.5rem;
    padding: 0.25rem 2rem;
    text-transform: uppercase;

    &.slds-button_icon-x-small {
      border-radius: 4px;
      padding: 1px 6px;
    }

    &.slds-input__icon {
      padding: 0;
    }

    > i {
      padding-left: 10px;
      &::before {
        color: @brandPrimary;
      }
    }

    &.slds-button_brand,
    &.slds-button--brand {
      &:hover {
        color: @white;
        background-color: @brandPrimaryHover;
      }

      > i {
        &::before {
          color: @white;
        }
      }
    }

    &.slds-button_outline-brand {
      border-color: @brandPrimaryHover;

      > i {
        &::before {
          color: @brandPrimaryHover;
        }
      }

      &:hover {
        background-color: @brandPrimaryHover;
        border-color: @brandPrimaryHover;
        color: @white;

        > i {
          &::before {
            color: @white;
          }
        }
      }
    }

    &.slds-button_neutral,
    &.slds-button--neutral {
      border-color: transparent;

      &:hover {
        color: @brandPrimaryHover;
        background-color: transparent;

        > i {
          &::before {
            color: @brandPrimaryHover;
          }
        }
      }
    }
  }

  // responsive table: no-table method
  // https://css-tricks.com/responsive-data-tables
  // https://elvery.net/demo/responsive-tables
  @media only screen and (max-width: 992px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    // Force table to not be like tables anymore
    .nvent-cart {
      .slds-table {
        display: block;

        .nvent-datatable-date-column {
          padding: 8px 24px 8px 50% !important;
        }

        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
        }

        // Hide table headers (but not display: none; for accessibility)
        thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }

        tr {
          border: 1px solid #ccc;
        }

        // Behave  like a "row"
        tbody {
          th,
          td {
            border: none;
            border-bottom: 1px solid @borderColor !important; // use important to override SF desktop :first-child styling
            position: relative;
            padding-left: 50% !important; // use important here to override SF inline styling
            white-space: normal;
            text-align: left;
            min-height: 2.375rem; // set min-hieght on rows to fix cells with no data

            &:before {
              // Now like a table header
              position: absolute;
              // Top/left values mimic padding
              top: 6px;
              left: 6px;
              width: 45%;
              padding-right: 10px;
              white-space: nowrap;
              text-align: left;
              font-weight: bold;
            }
          }

          // Label the data
          th:before,
          td:before {
            content: attr(data-label);
          }

          // SF override: make every cell left-aligned
          .slds-grid_align-end {
            justify-content: flex-start;
          }
        }
      }
    }
  }

  // CUSTOM LIGHTNING COMPONENT STYLES
  // Listed in alphabetical order
  // =================================

  // Lightning-Layout (Flexbox) fix for IE
  // =====================================
  //Target IE10+
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    lightning-layout > slot,
    lightning-layout-item > slot {
      display: inherit;
      width: 100%;
      flex-wrap: inherit;
    }
  }
  //Target MS Edge 12-14 (-ms-accelerator: true) and MS Edge 15+ (-ms-ime-align: auto)
  @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
    lightning-layout > slot,
    lightning-layout-item > slot {
      display: inherit;
      width: 100%;
      flex-wrap: inherit;
    }
  }

  // DESKTOP MEDIA QUERIES
  // =====================
  @media only screen and (min-width: 64.0625em) {
    .selfServiceUserProfileMenu {
      .profileName {
        display: none; // remove profile name; only show avatar
      }
    }
  }
  @media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em),
    only screen and (min-width: 64.0625em) {
    .selfServiceProfileMenuTrigger .trigger-link {
      padding: 14px 0 14px 10px; // remove the right-padding on the profile menu so it right-aligns with other content containers
    }
  }

  // Override this behavior at 1152px and just brute-force show all top-level navigation
  @media only screen and (min-width: 72em) {
    .forceCommunityGlobalNavigation {
      .overflowContainer {
        display: none !important;
      }

      .slds-list__item.slds-hidden {
        visibility: visible !important;
        position: relative;
        z-index: 1;
        pointer-events: all;
      }
    }
  }
}
