<!--
 - Created by might on 5/19/2020.
 -->

<!-- 7S Cart Summary -->
<template>
  <div class="nvent-cart-summary_container slds-p-around_x-large">
    <template if:true={showSpinner}>
      <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
    </template>
    <div class="slds-grid slds-wrap slds-grid_vertical-align-end slds-text-title_caps">
      <div class="slds-col slds-size_1-of-2">
        <strong>{labels.yourPrice}:</strong>
      </div>
      <div class="slds-col slds-size_1-of-2 slds-text-align_right slds-text-heading_medium">
        <strong>
          <lightning-formatted-number class="nvent-brand-color" value={yourPriceValue} format-style="currency"
            currency-code={currencyCode}>
          </lightning-formatted-number>
        </strong>
      </div>
    </div>
    <hr />
    <div class="slds-grid slds-wrap slds-grid_vertical-align-end slds-text-title_caps">
      <div class="slds-col slds-size_1-of-2">
        {labels.listPrice}:
      </div>
      <div class="slds-col slds-size_1-of-2 slds-text-align_right slds-text-heading_medium">
        <lightning-formatted-number value={listPriceValue} format-style="currency" currency-code={currencyCode}>
        </lightning-formatted-number>
      </div>
    </div>
    <template if:true={showQuoteButton}>
      <hr />
      <div class="slds-text-align_center slds-text-title_caps">
        <template if:true={showSAPVersion}>
          <lightning-button variant="brand" label={labels.generateQuoteLabel}
            title={labels.generateQuoteLabel} onclick={handleClick}>
          </lightning-button>
        </template>
        <template if:false={showSAPVersion}>
          <lightning-button variant="brand" label={labels.requestQuoteLabel}
            title={labels.requestQuoteLabel} onclick={handleClick}>
          </lightning-button>
        </template>
      </div>
    </template>

    <!-- MODAL -->
    <template if:true={isModalOpen}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-cart-summary-heading-01" aria-modal="true"
        aria-describedby="modal-cart-summary" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
              onclick={closeModal}>
              <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
              </lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-cart-summary-heading-01" class="slds-text-heading_medium slds-hyphenate">
              Quote Confirmation
            </h2>
          </header>
          <div class="slds-modal__content slds-p-around_x-large slds-text-align_center" id="modal-cart-summary">
            <template if:true={showSAPVersion}>
              <lightning-formatted-rich-text value={formattedGenerateQuoteModalMessage}>
              </lightning-formatted-rich-text>
            </template>
            <template if:false={showSAPVersion}>
              <p>{labels.requestQuoteModalMessage}</p>
            </template>
          </div>
          <footer class="slds-modal__footer">
            <button class="slds-button slds-button_brand" onclick={closeModal} title="Cancel">
              OK
            </button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
  </div>
</template>