<template>
    <select name="quantity" onchange={handleQuantityChange}>
        <template for:each={options} for:item="option">
            <option key={option.label} selected={option.selected} value={option.value}>{option.value}</option>
        </template>
    </select>
</template>