<!--
 - Created by might on 5/13/2020.
 -->

<!-- 7S Cart Table Image Column -->
<template>
    <template if:true={isObsolete}>
        <lightning-icon variant="warning" icon-name="utility:warning"></lightning-icon>
    </template>
    <template if:false={isObsolete}>
        <img src={imageId}>
    </template>
</template>