<template>
    <template if:true={listPrice}>
        <lightning-formatted-number value={listPrice.value} format-style="currency"
                                    currency-code={listPrice.currency}></lightning-formatted-number>
    </template>
    <template if:true={netPrice}>
        <lightning-formatted-number value={netPrice.value} format-style="currency"
                                    currency-code={netPrice.currency}></lightning-formatted-number>
    </template>
</template>