<template>
    <template if:true={sapNumber}>
        <div class="slds-grid slds-wrap slds-grid_pull-padded">

            <template if:true={state} for:each={state} for:item="item">
                <div key={item.smallPhotoUrl} class="slds-p-around_small slds-size_1-of-1 slds-medium-size_1-of-2">
                    <article class="slds-card">
                        <div class="slds-card__header slds-grid slds-grid_vertical-align-center slds-p-around_small">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <lightning-layout>
                                    <lightning-layout-item>
                                        <span class="slds-avatar slds-avatar_circle">
                                            <img alt={item.name} src={item.smallPhotoUrl} title={item.name} />
                                        </span>
                                    </lightning-layout-item>
                                    <lightning-layout-item class="slds-p-left_small">
                                        <h2 class="slds-card__header-title">
                                            {item.name}
                                        </h2>
                                        {item.role}
                                    </lightning-layout-item>
                                </lightning-layout>
                            </header>
                        </div>
                        <div class="slds-card__body slds-card__body_inner">
                            <ul class="slds-has-dividers_bottom slds-has-block-links_space">
                                <template if:true={item.phone}>
                                    <li class="slds-item">
                                        <div class="slds-grid slds-grid_vertical-align-center slds-p-vertical_small">
                                            <lightning-icon size="xx-small" icon-name="utility:call"
                                                alternative-text="Call">
                                            </lightning-icon>
                                            <span class="slds-p-left_small"><a href={item.phoneLink}>{item.phone}</a></span>
                                        </div>
                                    </li>
                                </template>
                                <template if:true={item.email}>
                                    <li class="slds-item">
                                        <div class="slds-grid slds-grid_vertical-align-center slds-p-vertical_small">
                                            <lightning-icon size="xx-small" icon-name="utility:email"
                                                alternative-text="Email">
                                            </lightning-icon>
                                            <span class="slds-p-left_small"><a href={item.emailLink}>{item.email}</a></span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </article>
                </div>
            </template>

        </div>
    </template>
</template>