<template>
    <div>
        <select name="quantity" onchange={handleChange}>
            <template for:each={options} for:item="option">
                <option key={option.label} selected={option.selected} value={option.value}>{option.value}</option>
            </template>
        </select>
        <!-- slds-hide -->
        <div>
            {quantity}
        </div>
    </div>
</template>