<!--
 - Created by might on 5/13/2020.
 -->

<template>
    <c-x7s-cart-table class="nvent-cart" key-field="id" data={data} columns={columns} sorted-by={sortedBy}
                      sorted-direction={sortedDirection} default-sort-direction="desc" onsort={doSorting}
                      hide-checkbox-column ondelete={doDelete} onupdatequantity={doUpdateQuantity}
                      onrowaction={handleRowAction} resize-column-disabled>
    </c-x7s-cart-table>
</template>