<template>
  <c-x7s-datatable-column-date cart-row-id={typeAttributes.id}
  last-modified-date={typeAttributes.lastModifiedDate}
  wishlist-item-added-date={typeAttributes.wishlistItemAddedDate}
  order-date={typeAttributes.orderDate}>
  </c-x7s-datatable-column-date>
</template>