<template>
  <c-x7s-datatable-column-title product-code={typeAttributes.productSkuCode} product-name={typeAttributes.productName}
    cart-number={typeAttributes.cartNumber} product-lead-time={typeAttributes.productLeadTime}
    related-cart-id={typeAttributes.relatedCartId} quote-id={typeAttributes.quoteId}
    quote-number={typeAttributes.quoteNumber} is-obsolete={typeAttributes.isObsolete}
    product-description={typeAttributes.productDescription} order-number={typeAttributes.orderNumber}
    order-id={typeAttributes.orderId}>
  </c-x7s-datatable-column-title>
</template>