<!--
 - Created by might on 5/19/2020.
 -->

<!-- 7S Cart Summary -->
<template>
    <div class="slds-text-title_bold">
        {labels.yourPrice} -
        <lightning-formatted-number value={yourPriceValue} format-style="currency" currency-code={yourPriceCurrency}>
        </lightning-formatted-number>
    </div>
    <hr>
    {labels.listPrice} -
    <lightning-formatted-number value={listPriceValue} format-style="currency" currency-code={listPriceCurrency}>
    </lightning-formatted-number>
    <hr>
    <lightning-button variant="brand" label={labels.requestQuote} title={labels.requestQuote} onclick={handleClick}>
    </lightning-button>

    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-cart-summary-heading-01" aria-modal="true"
            aria-describedby="modal-cart-summary" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-cart-summary">
                    <p>{labels.requestQuoteModalMessage}</p>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>