/*
 * Copyright (c) 2020. 7Summits Inc. All rights reserved.
 */

/**
 * Created by francoiskorb on 9/11/19.
 */

.THIS .product-slider_track {
    overflow: hidden;
}

.THIS .product-slider_slides {
    transition: .3s transform ease-in-out;
}

.THIS .product-slider_pagination-item {
    padding-left: 6px;
    padding-right: 6px;
}
.THIS .product-slider_pagination-link {
    border: none;
    background-color: #eee;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.THIS .product-slider_slides > * {
    width: 100%;
}

/*@media screen and (min-width: 768px) {*/
/*    .THIS .product-slider_slides > * {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1024px) {*/
/*    .THIS .product-slider_slides > * {*/
/*        width: 33.3333333333%;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1280px) {*/
/*    .THIS .product-slider_slides > * {*/
/*        width: 25%;*/
/*    }*/
/*}*/