<!--
 - Created by might on 5/13/2020.
 -->

<!-- imageColumn -->
<template>
    <c-x7s-data-table-image-column cart-row-id={typeAttributes.id} image-id={typeAttributes.imageUrl}
        is-obsolete={typeAttributes.isObsolete}>
    </c-x7s-data-table-image-column>
</template>