<template>
    <c-x7s-data-table-price-column list-price={typeAttributes.listPrice} net-price={typeAttributes.netPrice}
        total-amount={typeAttributes.totalAmount} cart-row-id={typeAttributes.id}
        currency-code={typeAttributes.currencyISOCode} is-obsolete={typeAttributes.isObsolete}>
    </c-x7s-data-table-price-column>
</template>