<template>
    <c-x7s-data-table-quantity-column cart-row-id={typeAttributes.id}
                                      quantity={typeAttributes.quantity}
                                      moq={typeAttributes.moq}
                                      dls={typeAttributes.dls}
                                      show-dropdown={typeAttributes.showDropdown}
                                      is-obsolete={typeAttributes.isObsolete}
                                      currency-code={typeAttributes.currencyISOCode}
                                      quantity-order={typeAttributes.quantityOrder}
                                      >
    </c-x7s-data-table-quantity-column>
</template>