<!--
 - Created by might on 5/18/2020.
 -->

<!-- subtotalColumn -->
<template>
    <c-x7s-data-table-subtotal-column subtotal={typeAttributes.subTotal} currency-code={typeAttributes.currencyISOCode}
        is-obsolete={typeAttributes.isObsolete}>
    </c-x7s-data-table-subtotal-column>
</template>