<template>
    <c-x7s-data-table-price-column list-price={typeAttributes.listPrice} net-price={typeAttributes.netPrice}
                                   cart-row-id={typeAttributes.id} currency-code={typeAttributes.currencyISOCode}>
    </c-x7s-data-table-price-column>
</template>