<template>
    <c-x7s-data-table-quantity-column cart-row-id={typeAttributes.id}
                                      quantity={typeAttributes.quantity}>
    </c-x7s-data-table-quantity-column>
</template>