<template>
  <c-x7s-data-table-title-column cart-row-id={typeAttributes.id} product-code={typeAttributes.productSkuCode}
    product-name={typeAttributes.productName}>
  </c-x7s-data-table-title-column>
</template>