/*
 * Copyright (c) 2020. 7Summits Inc. All rights reserved.
 */

/**
 * Created by francoiskorb on 8/30/19.
 */

.THIS .image-item {
    background: no-repeat center;
    background-size: cover;
    border: 0 solid lightgray;
}

.THIS .image-item.no-border {
    border: 1px solid transparent;
}

.THIS .image-wrap {
    height: inherit;
    border: 1px solid #f4f4f4;
}

.THIS .image-wrap.no-border {
    border: 1px solid transparent;
}

.THIS .image-wrap span {
    background-color: white;
}

.THIS .product-price {
    font-weight: bold;
    border-radius: 0;
    box-shadow: .05em .05em;
}

.THIS .image-item:hover {
    transform: scale(1.035);
    -moz-transform: scale(1.035);
    -webkit-transform: scale(1.035);
    -o-transform: scale(1.035);
    -ms-transform: scale(1.035); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.035, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.05, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */

    transition: .5s ease-in-out;
}