<apex:page standardController="Lead" showHeader="true" sidebar="false" extensions="DNBoptimizer.DNB_LeadContactController_VFC">
    <apex:outputPanel rendered="{!NOT(OR($User.UITheme == 'Theme4d', $User.UITheme == 'Theme4t'))}">
        <apex:pageblock mode="maindetail">  
            
            <apex:pageBlockSection columns="2">  
                <apex:repeat value="{!aWrapperList}" var="fieldValue">          
                    <apex:outputField value="{!acct[fieldValue['fieldName']]}"/>
                </apex:repeat>               
            </apex:pageBlockSection>
                            
            <apex:pageBlockSection columns="2"> 
            <apex:outputPanel rendered="{!Lead.DNBoptimizer__DnBContactRecord__c != null}">           
                <apex:outputLink value="/{!Lead.DNBoptimizer__DnBContactRecord__c}"  target="_blank" ><br/>
                   <apex:outputText value="Access Additional D&B Contact Data"></apex:outputText>  
                </apex:outputLink> 
            </apex:outputPanel>              
            </apex:pageBlockSection>
        </apex:pageblock>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!OR($User.UITheme == 'Theme4d', $User.UITheme == 'Theme4t')}">
        <apex:slds /> 
        <div class="slds-scope">
            <div class="slds-grid slds-wrap">
                <apex:repeat value="{!aWrapperList}" var="fieldValue">
                    <div class="slds-p-right--large slds-size_1-of-2 slds-medium-size_3-of-6 slds-large-size_6-of-12">
                        <div class="slds-form-element slds-form-element_edit slds-grow slds-hint-parent slds-p-vertical_xx-small override--slds-form-element">
                            <label class="slds-form-element__label" for="input-unique-id">{!fieldValue.labelName}</label>
                            <div class="slds-form-element__control">
                                <div class="slds-border_bottom">
                                    <span class="slds-form-element__static slds-grow">{!acct[fieldValue['fieldName']]}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:repeat>
            </div>
            <div class="slds-grid slds-wrap">
                <div class="slds-p-right--small slds-size_1-of-1 slds-medium-size_3-of-6 slds-large-size_6-of-12">
                    <apex:outputPanel rendered="{!IF(Lead.DNBoptimizer__DnBContactRecord__c != null && $User.UITheme == 'Theme4t', true, false)}">           
                        <apex:outputLink onclick="viewRecord('{!JSENCODE(HTMLENCODE(Lead.DNBoptimizer__DnBContactRecord__c))}')">
                            <apex:outputText value="Access Additional D&B Contact Data"></apex:outputText>    
                        </apex:outputLink> 
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(Lead.DNBoptimizer__DnBContactRecord__c != null && $User.UITheme == 'Theme4d', true, false)}">           
                        <apex:outputLink value="/one/one.app?source=aloha#/sObject/{!Lead.DNBoptimizer__DnBContactRecord__c}/view" target="_blank"><br/>
                           <apex:outputText value="Access Additional D&B Contact Data"></apex:outputText>     
                        </apex:outputLink> 
                    </apex:outputPanel> 
                </div>
            </div>
        </div>
    </apex:outputPanel>
    <head>        
        <script>
            function viewRecord(aId){
                if ( (typeof window.sforce != 'undefined') && (window.sforce!=null) ) {
                  sforce.one.navigateToSObject(aId);
                }
            }
        </script>
    </head>
</apex:page>