<apex:page standardController="RFQ__c" rendered="{! AND(RFQ__c.Proposal_Owner_Status__c= 'Assign Maually',ISBLANK(RFQ__c.Proposal_Owner__c))}">
<center>
<apex:outputLabel value="This RFQ has multiple Proposal owners, please select Proposal owner manually" style="color:red;text-align:center;font-weight: bold;font-size:12px;" rendered="{!RFQ__c.Proposal_Owner_Status__c= 'Assign Maually'}" >

<!-- <apex:outputField id="AccountID" value="{!RFQ__c.Account__c}" rendered="{!RFQ__c.Proposal_Owner_Status__c= 'Assign Maually'}" />  -->

</apex:outputLabel>

</center>
</apex:page>