<apex:page controller="nVent_AccountAttachmentsController" readOnly="true" action="{!fetchAccountAttachments}" contenttype="application/vnd.ms-excel#AccountSheet.xls">
    <apex:pageBlock title="Contacts">  
        <table border="1">
            <tr>
                <td>Account Id</td>
                <td>Account Name</td>
                <td>File link Id</td>
                <td>Content Id</td>
                <td>File title</td>
            </tr> 
            <apex:repeat value="{!listAccAtt}" var="acc" >
                <tr>
                    <td>{!acc.Id}</td>
                    <td>{!acc.Name}</td>
                </tr>
                <apex:repeat value="{!acc.ContentDocumentLinks}" var="dlink">
                    <tr>
                        <td>{!acc.Id}</td>
                        <td>{!acc.Name}</td>
                        <td>{!dlink.Id}</td>
                        <td>{!dlink.ContentDocumentId}</td>
                        <td>{!dlink.ContentDocument.Title}</td>
                    </tr>
                </apex:repeat>
            </apex:repeat>
        </table>  
    </apex:pageBlock>  
</apex:page>