<apex:page docType="html-5.0" showHeader="false" standardStylesheets="false" standardController="Opportunity" recordSetVar="opportunities" extensions="Pentair_ControllerParentOpportunity">
    <apex:slds /> 
    <apex:sectionHeader title="Parent Opportunity - Update Amounts" /><br />
     <style>
  body .bPageTitle .ptBody h1.noSecondHeader{
    font-size: 30px;
  }
</style>
  <apex:form >
    <apex:pageBlock >
      <apex:pageMessages />
      <apex:pageBlockButtons >
        <apex:commandButton action="{!save}" value="Save" styleClass="slds-button slds-button_brand" />
          <apex:commandButton action="{!cancel}" value="Return to list" styleClass="slds-button slds-button_brand" />
      </apex:pageBlockButtons>
        <br/>
      <apex:pageBlockTable value="{!opportunities}" var="opp">
        <apex:column value="{!opp.name}"/>
          <apex:column value="{!opp.closedate}"/>
          <apex:column value="{!opp.stagename}"/>
          <apex:column value="{!opp.ownerid}"/>
          <apex:column value="{!opp.lastmodifieddate}"/>
          <apex:column value="{!opp.amount}"/>   
        <apex:column headerValue="Amount">
          <apex:inputField value="{!opp.amount}"/>
        </apex:column>
      </apex:pageBlockTable>    
        <br/>
    </apex:pageBlock>
  </apex:form>
</apex:page>