<apex:page controller="Pentair_ERICO_OrderStatus" action="{!getOrderDetail}">
    
    <apex:sectionHeader title="Order"
        subtitle="{!lstOrderDetail[0].orderNumber}" />
        <p/>
    <apex:pageMessages />
    <apex:pageBlock title="Order Details">
        <apex:form >
            <apex:pageBlockSection showHeader="false" columns="2">
                <apex:pageBlockSection columns="1" >
                    <apex:facet name="header"><h2><span style="color:black" >Shipment Destination</span></h2></apex:facet>
                    <apex:pageBlockSectionItem >
                        <apex:outputText value="{!lstOrderDetail[0].companyName}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!lstOrderDetail[0].addr1 != null && lstOrderDetail[0].addr1 != ''}" >
                        <apex:outputText value="{!lstOrderDetail[0].addr1}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!lstOrderDetail[0].addr2 != null && lstOrderDetail[0].addr2 != ''}" >
                        <apex:outputText value="{!lstOrderDetail[0].addr2}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!lstOrderDetail[0].addr3 != null && lstOrderDetail[0].addr3 != ''}" >
                        <apex:outputText value="{!lstOrderDetail[0].addr3}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputText value="{!lstOrderDetail[0].city}, {!lstOrderDetail[0].state} {!lstOrderDetail[0].postalCode}" />
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1">
                    <apex:facet name="header"><h2><span style="color:black" >Order Information</span></h2></apex:facet>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel >Order #:</apex:outputLabel>
                        <apex:outputText value="{!lstOrderDetail[0].orderNumber}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel >PO #:</apex:outputLabel>
                        <apex:outputText value="{!lstOrderDetail[0].purchaseOrder}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel >Date:</apex:outputLabel>
                        <apex:outputText value="{!lstOrderDetail[0].orderDate}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel >Hold Code:</apex:outputLabel>
                        <apex:outputText value="{!lstOrderDetail[0].holdCode}" />
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlockSection>
        </apex:form>
    </apex:pageBlock>

    <apex:outputPanel id="resultsPanel">
        <apex:form >
        <p/>
        <apex:outputLink rendered="{!lstOrderDetail[0].hasShipments != '0'}" value="/apex/Pentair_Shipment?cid={!$CurrentPage.parameters.cid}&ssid={!sourceSystem}&oid={!lstOrderDetail[0].orderNumber}&id={!id}">Shipment Details</apex:outputLink>&nbsp;&nbsp;
        <p/>
            <apex:pageBlock >            
                <apex:pageBlockSection showHeader="false" columns="1">
                    
                    <apex:pageBlockTable border="1" cellspacing="0"
                        cellpadding="4" width="75%" value="{!lstOrderDetailLines}" var="lineItem" id="dataTable"
                        rowClasses="odd,even" styleClass="tableClass">

                        <apex:column >
                            <apex:facet name="header">Line</apex:facet>
                            <apex:outputText value="{!lineItem.lineNumber}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Part Number</apex:facet>
                                <apex:outputText value="{!lineItem.partNumber}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Quantity Ordered</apex:facet>
                            <apex:outputText value="{!lineItem.quantityOrdered}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Quantity Reserved</apex:facet>
                            <apex:outputText value="{!lineItem.quantityReserved}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Quantity Shipped</apex:facet>
                            <apex:outputText value="{!lineItem.quantityShipped}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Status</apex:facet>
                            <apex:outputText value="{!lineItem.status}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Promised Ship Date</apex:facet>
                            <apex:outputText value="{!lineItem.promisedShipDate}" />
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlockSection>
                <p/>
                <apex:commandButton action="{!cancel}" value="Return to Main Screen" />
            </apex:pageBlock>
            <p />
        </apex:form>

    </apex:outputPanel>
</apex:page>