<apex:page controller="rdcc.InsightSystemIntegration" id="page" docType="html-5.0" sidebar="false"  showheader="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <!--Start stylesheet-->
            <div class="slds-scope">
                <div class="slds-spinner_container" id="loading" style="display:none;">
                    <div id="loading-content">
                        <div role="status" class="slds-spinner slds-spinner--medium">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
            <apex:slds />            
            <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/jquery.dataTables.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/InsightProjectSearchPage_sf1.css')}"/>
            <style>
                td>button{margin-bottom: 5px !important;width:80% !important;}
                .displayWidth80{display:none;width:80%;}
                .filterDiv{background-color:white;overflow:auto;max-height: 200px;}
                .slds-scope .slds-notify--toast, .slds-scope .slds-notify_toast{min-width:100% !important;}
                .slds-scope .slds-spinner:after, 
                .slds-scope .slds-spinner:before, 
                .slds-scope .slds-spinner__dot-a:after, 
                .slds-scope .slds-spinner__dot-a:before, 
                .slds-scope .slds-spinner__dot-b:after, 
                .slds-scope .slds-spinner__dot-b:before{
                    background:#0070d2 !important;
                }
            </style>
            <!--End stylesheet-->
            <!--Start javascript-->
            <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
            <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery.dataTables.min.js')}" />
            <!--apex:includeScript value="{!URLFOR($Resource.ConstructConnect, 'js/InsightProjectSearchPage_sf1.js')}"/-->
            <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/SavedSearch.js')}"/>
            <script type="text/javascript">
                var __sfdcSessionId = '{!GETSESSIONID()}';
            </script>
            <script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script>
            <script>
            document.getElementById("loading").style.display='block';
            window.onload = function() {
                document.getElementById("loading").style.display='none';
            }
            var Ids = [];
            var    country = '';
            var    state = '';
            var    county = '';
            var    stage = '';
            var    category = '';
            var    divisionCode = '';
            var    lastUpdatedDateRange = '';
            var    biddingDateRange = '';
            var    projectValueRange = '';
            var    searchText = '';
            var   listView = '';
            var  	srchName = '';
            var srchNameListView = "page:theForm:saveLV";
            var srchNameModalBox = "page:theForm2:srchName";
            var srchTextId = "page:theForm:searchText";
            var minProjectEstValueId= "page:theForm:minProjectValue";
            var maxProjectEstValueId= "page:theForm:maxProjectValue";
            var SLDS202 = '{!$Resource.SLDS202}';
            
            var previousOnload = window.onload;
            window.onload = function() { 
                if (previousOnload) { 
                    previousOnload();
                }
            }
            
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
                resultTableProperties();    
            });
            function resultTableProperties(){
                overridePageMessages();
                var projectTable = j$('[id$="resultTable"]').DataTable({
                    "bFilter": false,               
                    "stripeClasses":[],
                    "aaSorting": [],
                    "language": {
                        "lengthMenu": "Display _MENU_ records",
                        "zeroRecords": "No record found",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoEmpty": "No record available",
                    },        
                    "aLengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                    "iDisplayLength": 20,
                    "dom": 'rt<"top"i><"bottom"flp><"clear">',
                    "bLengthChange" : false, 
                    "info":false ,
                    "paging": false
                });
            }
			
             function validateData(minId,maxId,elementId,type,SLDS202){
        onClick();
        var isError = false;
        var errorMsg = '';         
        var minValue =  document.getElementById(minId).value;
        var maxValue =  document.getElementById(maxId).value;
        if((minValue == null || minValue == '')){
            minValue = '0';
        }
        if((maxValue == null || maxValue == '')){
            maxValue = '0';
        }
        if( document.getElementById(minId).value =='' && document.getElementById(maxId).value ==''){
            isError = true;
            errorMsg = 'Please provide value of atleast one field.';
        }
        if(type == 'Estimated Value'){          
            if(!minValue.match(/^\d+$/) || !maxValue.match(/^\d+$/)){
                isError = true;
                errorMsg = 'Only numeric value acceptable.';
            }
            if(parseInt(minValue) > parseInt(maxValue) && !(document.getElementById(maxId).value =='' || document.getElementById(maxId).value == null)){
                isError = true;
                errorMsg = 'Min must be smaller than Max.';
            }
            
        }else {
            if((document.getElementById(minId).value !='' && document.getElementById(maxId).value !='') &&(getTimeInMiliSecond(minValue) > getTimeInMiliSecond(maxValue))){                               
                isError = true;
                errorMsg = 'To date must be greater than from date';                
            }              
        }

        if(isError){
            onComplete();
            document.getElementById(elementId).style.display = 'block';
            document.getElementById(elementId).innerText = errorMsg;
        }
        else{
            closeNav();
            document.getElementById(elementId).style.display = 'none';            
            customSearch(); 
        }
        return false;
    }
	
	 function getTimeInMiliSecond(s) {        
        var bits = s.split('/');        
        var d = new Date(bits[2],bits[0]-1,bits[1]);       
        return d.getTime();       
    }
	
            function clearListedDate(){
                clearValue("date_fromListed");
                clearValue("date_toListed");
                return false;
            }
            function toggleSelectedDiv(elementId, containerId){
                if(document.getElementById(elementId).hasChildNodes()){
                    document.getElementById(containerId).style.display = 'none';
                }else{
                    document.getElementById(containerId).style.display = 'none';
                }
                
                openNav();
                overridePageMessages();
            }
            
            
            function pushPopIds(elementId){        
                var index = Ids.indexOf(elementId);
                if(index > -1){
                    Ids.splice(index, 1);
                }else{
                    Ids.push(elementId);
                }            
            }
            
            function importRecordsInSF(elementId){
                var selectedRecords = '';
                if(elementId != null && elementId != ''){
                    selectedRecords = elementId;
                }else if(Ids.length > 0){
                    selectedRecords = Ids.join(';')
                }
                
                console.log(selectedRecords)
                if(selectedRecords != ''){
                    onClick();
                    importRecords(selectedRecords);
                }else{                    
                    document.getElementById('importModel').style.display='block';
                    //alert('Please Select a record to import !');
                }
                Ids = [];        
                return false;
            }
            
            function hideOtherAccordian(element){
                var acc = document.getElementsByClassName("active");
                for(var i=0;i<acc.length;i++){                               
                    if(element == null || acc[i].id == element.id){}else
                    {
                        hideAccordian(acc[i].nextElementSibling); 
                        acc[i].classList.toggle("active");
                    }
                }
                if('{!JSENCODE(searchType)}'=='project'){
                    hideErrorDiv();
                }
            }
            function hideErrorDiv(){
                document.getElementById('errMsgEstValue').style.display = 'none';
                document.getElementById('errMsgBidDate').style.display = 'none';
                document.getElementById('errMsgLastUpdatedDate').style.display = 'none';
                
            }
            var companyType = '';
            var listDateRange = '';
            var materialCode = '';
            function customSearch(){
                getSelectedValue();       
                searchServer(
                    searchText,
                    country,
                    state,
                    county,
                    stage,
                    category,
                    divisionCode,
                    lastUpdatedDateRange,
                    biddingDateRange,
                    projectValueRange,                
                    companyType,
                    listDateRange,
                    materialCode);
                return false;
            }
            
            
            function getSelectedValue(){      
                var tempArray = [];
                tempArray = getSelectedValueString("btnCountryStateTSPanel","");
                country = tempArray[0];
                state = tempArray[1];
                county = tempArray[2];
                if('{!JSENCODE(searchType)}'=='project'){
                    tempArray = getSelectedValueString("btnProjectStageTSPanel","");
                    stage = tempArray[1]+tempArray[0];
                    tempArray = getSelectedValueString("btnProjectCategoryTSPanel","Category");
                    category = tempArray[1]+tempArray[0];
                    tempArray = getSelectedValueString("btnCSICodeTSPanel","");
                    divisionCode = tempArray[1]+tempArray[0];
                    tempArray = getSelectedValueString("btnMaterialCodeTSPanel","");
                    materialCode = tempArray[1]+tempArray[0];
                    
                    lastUpdatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
                    biddingDateRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
                    projectValueRange = document.getElementById("page:theForm:minProjectValue").value+';'+ document.getElementById("page:theForm:maxProjectValue").value;
                    listDateRange = document.getElementById("date_fromListed").value+';'+ document.getElementById("date_toListed").value;	
                }else{
                    tempArray = getSelectedValueString("btnCompanyTypeTSPanel","");
                    companyType = tempArray[1]+tempArray[0];           
                }
                
                searchText = document.getElementById("page:theForm:searchText").value;   
            }
            
            function getSelectedValueString(elementId,type){
                var tempArray = [];
                var firstLevel = '';
                var secondLevel = '';
                var thirdLevel = '';
                var elements = document.querySelectorAll("#"+elementId+" input");
                for(var i=0;i<elements.length;i++){            
                    if(elements[i].checked){
                        if(elements[i].id.includes('firstLevelcheck')){
                            firstLevel +=  elements[i].nextElementSibling.textContent+';';
                        }
                        if(elements[i].id.includes('secondLevelcheck')){                    
                            secondLevel +=  elements[i].nextElementSibling.textContent+';';                    
                        }
                        if(elements[i].id.includes('thirdLevelcheck')){                    
                            thirdLevel +=  elements[i].nextElementSibling.textContent.split(" | ")[1]+';';                    
                        }
                    }
                }
                tempArray.push(firstLevel);
                tempArray.push(secondLevel);
                tempArray.push(thirdLevel);
                return tempArray;
            }
            
            var selectAll = function(value){                    
                var checkboxes = document.getElementsByClassName("demo");
                console.log(checkboxes);
                for(var i=0;i<checkboxes.length;i++){
                    if(value){
                        checkboxes[i].checked = true;
                        Ids.push(checkboxes[i].id);
                    }else{                
                        checkboxes[i].checked = false;
                        var index = Ids.indexOf(checkboxes[i].id);
                        Ids.splice(index, 1);               
                    }                        
                }
                console.log(Ids);
            }
            function createPillsForListedDateValue(SLDS202){        
                var ulRecord = document.getElementById("selectedListDateDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }        
                var min = 'date_fromListed';
                var max = 'date_toListed';
                var onclick = 'clearListedDate();remove(\''+min+'_'+max+'\');toggleSelectedDiv(\'selectedListDateDiv\',\'selectedListDateContainer\');return customSearch();';
                pills = createRecordLiForTextFilters(min,max,onclick,'toggleSelectedDiv(\'selectedListDateDiv\',\'selectedListDateContainer\')',SLDS202);
                ulRecord.innerHTML = pills;
            }           
            
            function createPillsForSelectedMaterialCodes(SLDS202){
                var ulRecord = document.getElementById("selectedMaterialCodeDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
                var inputs = document.querySelectorAll("#btnMaterialCodeTScontent input");
                var fInputIdsArray = filterInputs(inputs);
                pills = createRecordLi(fInputIdsArray,'selectedMaterialCodeDiv',' toggleSelectedDiv(\'selectedMaterialCodeDiv\',\'selectedMaterialCodeContainer\')',SLDS202);
                ulRecord.innerHTML = pills;
                //  pills = createRecordLiDisplayHide(inputs,'selectedMaterialCodeDiv',' toggleSelectedDiv(\'selectedMaterialCodeDiv\',\'selectedMaterialCodeContainer\')',SLDS202);
                //ulRecord.innerHTML +=pills;
            }
            
            function doSearch() {       
                searchServer();
            }
            
            function clearProjectFilters(){       
                clearPillsDiv("selectedLocationDiv");
                clearPillsDiv("selectedStageDiv");
                clearPillsDiv("selectedCategoryDiv");
                clearPillsDiv("selectedCSICodeDiv");
            }
            
            function clearPillsDiv(PillsDivId){
                var ulRecord = document.getElementById(PillsDivId);
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
            }
            
            function expandSection(element){            
                element.classList.toggle("active");
                var panel = element.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                    //panel.style.height = "0px";
                } else {
                    panel.style.display = "block";
                    //panel.style.height = "10px";
                }
                hideOtherAccordian(element);    
            }
            
            function expandSectionBelow(element){
        element.classList.toggle("active");
        var panel = element.nextElementSibling;
        if (panel.style.maxHeight){
            panel.style.maxHeight = null;
            panel.style.padding = "0px";
            panel.style.overflow = 'hidden';
        } else {
            panel.style.maxHeight = panel.scrollHeight+50 + "px";
            panel.style.padding = "10px";
            panel.style.overflow = 'inherit';
        }
        hideOtherAccordian(element);    
    }
            
             function hideOtherAccordian(element){
        var acc = document.getElementsByClassName("active");       
        for(var i=0;i<acc.length;i++){                               
            if(element != null && acc[i].id != element.id){                
                hideAccordian(acc[i].nextElementSibling); 
                document.getElementById(acc[i].id+'Panel').style.overflow = 'hidden';
                acc[i].classList.toggle("active");               
            }
        }
    }
            
            function hideExpandedAccordian(){           
        var acc = document.getElementsByClassName("active");
        for(var i=0;i<acc.length;i++){
            hideAccordian(acc[i].nextElementSibling);
            document.getElementById(acc[i].id+'Panel').style.overflow = 'hidden';
            acc[i].classList.toggle("active");
        }  
    }
            
            function hideAccordian(panel){
                if(panel.className == 'panel'){
                    panel.style.maxHeight = null;
                    panel.style.padding = "0px";
                }else{
                    panel.style.display = "none";
                    panel.style.height = "none";
                }            
            }
            
            function uncheckedAllCheckbox(elementId){
                var inputs;    
                if(elementId != null ){
                    inputs =document.querySelectorAll("#"+elementId+" input");
                }else{
                    inputs = document.querySelectorAll("ul.slds-tree input");
                }
                if(inputs.length > 0){
                    for(var i=0;i<inputs.length;i++){
                        inputs[i].checked = false;
                    }
                }
                return false;
            }
            
            function clearTextFilters(){
                document.getElementById("page:theForm:searchText").value = '';
                clearProjectEstValue();
                clearLastUpdate();
                clearBiddingDate();
                clearListedDate(); 
            }
            
            function clearProjectEstValue(){
                clearValue("page:theForm:minProjectValue");
                clearValue("page:theForm:maxProjectValue");
                return false;
            }
            function clearLastUpdate(){
                clearValue("date_fromLastUpdated");
                clearValue("date_toLastUpdated");
                return false;
            }
            function clearBiddingDate(){
                clearValue("date_fromBidding");
                clearValue("date_toBidding");
                return false;
            }                
            function clearValue(elementId){
                document.getElementById(elementId).value = '';
            }
            
            function createPills(SLDS202){
                createPillsForSelectedLocation(SLDS202);
                createPillsForSelectedStage(SLDS202);
                createPillsForSelectedCategory(SLDS202);
                createPillsForSelectedCSICodes(SLDS202);
            }
            
            function createPillsForSelectedLocation(SLDS202){
                var ulRecord = document.getElementById("selectedLocationDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
                var inputs = document.querySelectorAll("#btnCountryStateTScontent input");
                pills = createRecordLi(inputs,'selectedLocationDiv','toogleSelectedLocationDiv()',SLDS202);
                ulRecord.innerHTML = pills;
            }
            
            function createPillsForSelectedStage(SLDS202){
                var ulRecord = document.getElementById("selectedStageDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
                var inputs = document.querySelectorAll("#btnProjectStageTScontent input");
                pills = createRecordLi(inputs,'selectedStageDiv','toogleselectedStageDiv()',SLDS202);
                ulRecord.innerHTML = pills;
            }
            function createPillsForSelectedCategory(SLDS202){
                var ulRecord = document.getElementById("selectedCategoryDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
                var inputs = document.querySelectorAll("#btnProjectCategoryTScontent input");
                pills = createRecordLi(inputs,'selectedCategoryDiv','toogleSelectedCategoryDiv()',SLDS202);
                ulRecord.innerHTML = pills;
            }
            
            function createPillsForSelectedCSICodes(SLDS202){
                var ulRecord = document.getElementById("selectedCSICodeDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
                var inputs = document.querySelectorAll("#btnCSICodeTScontent input");
                pills = createRecordLi(inputs,'selectedCSICodeDiv','toogleSelectedCSIDiv()',SLDS202);
                ulRecord.innerHTML = pills;
            }
            
            
            function createRecordLi(inputs,parent,oncomplete,SLDS202){ 
                var pills='';
                for(var i=0;i<inputs.length;i++){
                    if(inputs[i].checked){                
                        var dispName = inputs[i].nextElementSibling.textContent;
                        var checkId = inputs[i].id;
                        pills+= '<span class="slds-pill slds-text-body--small" id="'+checkId+'"><a href="javascript:void(0);" class="slds-pill__label" title="'+dispName+'">'+dispName+'</a><button type="button" onclick = "removeSelectedVal(\''+parent+'\',this.parentNode,\''+SLDS202+'\');doSearch();'+oncomplete+'" class="slds-button slds-button--icon slds-pill__remove" title="Remove"><svg class="slds-button__icon" aria-hidden="true"><use xlink:href="'+SLDS202+'/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Remove</span></button></span>';
                    }
                }
                return pills;
                
            }
            
            function removeSelectedVal(parent, element,SLDS202) {
                var reqElement = document.getElementById(element.id);
                reqElement.checked = false;
                reqElement.onchange();
                console.log(parent);
                if (parent == 'selectedStageDiv') {
                    createPillsForSelectedStage(SLDS202);
                } else if (parent == 'selectedLocationDiv') {
                    createPillsForSelectedLocation(SLDS202);
                } else if (parent == 'selectedCategoryDiv') {
                    createPillsForSelectedCategory(SLDS202);
                } else if (parent == 'selectedCSICodeDiv') {
                    createPillsForSelectedCSICodes(SLDS202);
                }else if (parent == 'selectedTypeDiv') {
                    createPillsForSelectedType(SLDS202);
                }else if (parent == 'selectedMaterialCodeDiv') {
                    createPillsForSelectedMaterialCodes(SLDS202);
                }
            }
            function createPillsForSelectedType(SLDS202){
                var ulRecord = document.getElementById("selectedTypeDiv");
                while (ulRecord.hasChildNodes()) {
                    ulRecord.removeChild(ulRecord.lastChild);
                }
                var inputs = document.querySelectorAll("#btnCompanyTypeTScontent input");
                
                var fInputIdsArray = filterInputs(inputs);
                pills = createRecordLi(fInputIdsArray,'selectedTypeDiv','toggleSelectedDiv(\'selectedTypeDiv\',\'selectedTypeContainer\')',SLDS202);
                ulRecord.innerHTML = pills;
                pills = createRecordLiDisplayHide(inputs,'selectedTypeDiv','toggleSelectedDiv(\'selectedTypeDiv\',\'selectedTypeContainer\')',SLDS202);
                ulRecord.innerHTML += pills;
            }
            
            function tooglePillsDiv(){
                toggleSelectedDiv("selectedLocationDiv","selectedLocationContainer");
                if('{!JSENCODE(searchType)}'=='project'){
                    toggleSelectedDiv("selectedStageDiv","selectedStageContainer");            
                    toggleSelectedDiv("selectedCategoryDiv","selectedCategoryContainer");
                    toggleSelectedDiv("selectedCSICodeDiv","selectedCSICodeContainer"); 
                    toggleSelectedDiv("selectedMaterialCodeDiv","selectedMaterialCodeContainer");           
                    toggleSelectedDiv("selectedEstValueDiv","selectedEstValueContainer");
                    toggleSelectedDiv("selectedLastUpdatedDateDiv","selectedLastUpdatedDateContainer");
                    toggleSelectedDiv("selectedBidDateDiv","selectedBidDateContainer");
                    toggleSelectedDiv("selectedListDateDiv","selectedListDateContainer");            
                }else{
                    toggleSelectedDiv("selectedTypeDiv","selectedTypeContainer");
                }
                
            }
            
            function toogleselectedStageDiv(){
                var selectedStageDiv = document.getElementById("selectedStageDiv");    
                if(selectedStageDiv.hasChildNodes()){
                    document.getElementById("selectedStageContainer").style.display = 'none';
                }else{
                    document.getElementById("selectedStageContainer").style.display = 'none';
                } 
            }
            
            function toogleSelectedLocationDiv(){            
                if(document.getElementById("selectedLocationDiv").hasChildNodes()){
                    document.getElementById("selectedLocationContainer").style.display = 'none';
                }else{
                    document.getElementById("selectedLocationContainer").style.display = 'none';
                }
            }
            
            function toogleSelectedCategoryDiv(){            
                if(document.getElementById("selectedCategoryDiv").hasChildNodes()){
                    document.getElementById("selectedCategoryContainer").style.display = 'none';
                }else{
                    document.getElementById("selectedCategoryContainer").style.display = 'none';
                }
            }
            function toogleSelectedCSIDiv(){
                if(document.getElementById("selectedCSICodeDiv").hasChildNodes()){
                    document.getElementById("selectedCSICodeContainer").style.display = 'none';
                }else{
                    document.getElementById("selectedCSICodeContainer").style.display = 'none';
                }
            }
            
            function onChangeListView(){
                hideExpandedAccordian();
                uncheckedAllCheckbox();
                clearProjectFilters();
                tooglePillsDiv();
                listViewChange();
                clearTextFilters();    
            }
            
            function openNav() {
                var wid = document.getElementById("mySidenav").style.width
                if(wid=="100%"){
                    document.getElementById("mySidenav").style.width = "0";
                }else{
                    document.getElementById("mySidenav").style.width= "100%";
                }         
            }
            
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            
            function overridePageMessages(){               
                var textureEffect = '';
                //Uncomment below line for texture effect on page messages
                textureEffect = 'slds-theme--alert-texture';
                var errMsgs = document.getElementsByClassName('errorM3');
                var infoMsgs = document.getElementsByClassName('infoM3');
                var confirmMsgs = document.getElementsByClassName('confirmM3');
                if(errMsgs.length > 0){
                    errMsgs[0].className = 'message slds-notify slds-notify--alert slds-theme--error customMessage '+textureEffect;
                }
                if(infoMsgs.length > 0){
                    infoMsgs[0].className = 'message slds-notify slds-notify--toast customMessage '+textureEffect;
                }
                if(confirmMsgs.length > 0){
                    confirmMsgs[0].className = 'message slds-notify slds-notify--alert slds-theme--success  customMessage '+textureEffect;
                }
                document.getElementById('msgDiv').style.display = 'block';    
            }
            
            function onComplete(){
                document.getElementById('loading').style.display = 'none';
                document.getElementById('msgDiv').style.display = 'block';
            }
            
            function onClick(){
                console.log(document.getElementById('loading'));
                document.getElementById('loading').style.display = 'block';
            }
            function hideimportModel(){
                document.getElementById('importModel').style.display = 'none';
            }
            
            function applyFilters(filters,filterType){
                for(var i=0; i<filters.length;i++){
                    if(document.getElementById(filters[i]) != null){
                    	document.getElementById(filters[i]).checked = true;
                    }
                }              
            }
            
            function applyTextFilters(values,filterType ){		
                var fromVal = values[0];
                var toVal = '';
                if(values.length == 2){
                    toVal = values[1];
                }
                if(filterType == 'rdcc__Project_Bidding_Date_Range__c'){
                    document.getElementById("date_fromBidding").value = fromVal;
                    document.getElementById("date_toBidding").value = toVal;
                }
                if(filterType == 'rdcc__Project_Last_Updated_Range__c'){
                    document.getElementById("date_fromLastUpdated").value = fromVal;
                    document.getElementById("date_toLastUpdated").value = toVal;
                   
                }
                if(filterType == 'rdcc__Project_Listed_Date_Range__c'){
                    document.getElementById("date_fromListed").value = fromVal;
                    document.getElementById("date_toListed").value = toVal;
                  
                }
                if(filterType == 'rdcc__Project_Value_Range__c'){
                    document.getElementById(minProjectEstValueId).value = fromVal;
                    document.getElementById(maxProjectEstValueId).value = toVal; 
                }
                  console.log(filterType);
            }
            
            
            </script>
            <!--end javascript-->
        </head>
        <body class="slds-scope">
            <apex:form id="theForm">                
                <apex:actionFunction name="importRecords" action="{!importRecords}" oncomplete="resultTableProperties();overridePageMessages();onComplete();"  reRender="errors,results">
                    <apex:param name="ids" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="searchServer" action="{!runSearch}" oncomplete="resultTableProperties();hideExpandedAccordian();overridePageMessages();onComplete();"  rerender="errors,results">
                    <apex:param name="searchText" value=""/>
                    <apex:param name="country" value=""/>
                    <apex:param name="state" value=""/>
                    <apex:param name="county" value=""/>
                    <apex:param name="stage" value=""/>
                    <apex:param name="category" value=""/>
                    <apex:param name="divisionCode" value=""/>
                    <apex:param name="lastUpdatedDateRange" value=""/>
                    <apex:param name="biddingDateRange" value=""/>
                    <apex:param name="projectValueRange" value=""/>
                    <apex:param name="companyType" value=""/>
					<apex:param name="listedDateRange" value=""/>
                    <apex:param name="materialCodes" value=""/>
                </apex:actionFunction>
                <!--div class="slds-spinner_container" id="loading" style="display:none;">
                    <div id="loading-content">
                        <div role="status" class="slds-spinner slds-spinner--medium slds-spinner_brand" style="top:350px;">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div-->
                <div id="msgDiv" style="margin-left:20px; margin-right:20px;position: relative;top: 70px; margin-top: 20px;">
                    <apex:pageMessages id="errors"></apex:pageMessages>
                </div>
                <!--Start Header Section-->
                <div class="slds-page-header slds-page-header--object-home slds-fixed-header" style="padding-top:.5rem;padding-bottom:.5rem;">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-custom-custom16">
                                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom16')}"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <div id="view-list" class="slds-dropdown-trigger--click slds-m-left--x-small" aria-expanded="false">
                                        <p class="slds-text-title--caps slds-line-height--reset">{!IF(searchType=='project','Insight Projects','Insight Companies')}</p>
                                        <h1 class="slds-page-header__title slds-p-right--x-small">
                                            <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                                <apex:selectList styleClass="searchTypeListView slds-scope slds-input" size="1" value="{!searchType}" style="min-height:25px;">
                                                    <apex:selectOption itemLabel="Insight Projects" itemValue="project"/>
                                                    <apex:selectOption itemLabel="Insight Companies" itemValue="company"/>
                                                    <apex:actionSupport event="onchange" action="{!toggleSearchPageSF1}" reRender="page" />
                                                </apex:selectList>
                                                <span class="slds-icon_container slds-icon_container--circle slds-icon-action-filter" title="Add Filter" onclick="openNav();hideExpandedAccordian();" style="margin-left:.5rem;padding: .3rem;">
                                                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true" style="width: 1.2rem;">
                                                        <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#filter')}"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                                <apex:selectlist id="saveLV" style="background-color: #fff;min-height:25px;" size="1" onchange="onClick();loadSearchName(this.value);closeNav();" styleClass="slds-scope slds-input">                            
                                                    <apex:selectoptions value="{!SearchNames}" />
                                                </apex:selectlist>
                                                <span class="slds-icon_container slds-icon_container--circle slds-icon-action-download" title="import" onclick="return importRecordsInSF();closeNav();" style="margin-left:.5rem;padding: .3rem;">
                                                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true" style="width: 1.2rem;">
                                                        <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#download')}"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                        </h1>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--End Header Section-->
                <!--Start Search Section-->                
                <div class="slds-form-element" style="top:70px;margin-top: 10px;">
                    <div class="slds-p-vertical--x-small slds-p-horizontal--small slds-shrink-none slds-theme--shade" style="padding-right: 0rem;">
                        <div class="slds-form-element slds-lookup" data-select="single">                        
                            <div class="slds-form-element__control slds-input-has-fixed-addon" style="margin-top:4%;">
                                <apex:inputText styleClass="slds-input" 
                                                html-placeholder="Enter Search Text..." 
                                                id="searchText"  
                                                onkeydown="if (event.keyCode == 13){event.preventDefault();this.nextSibling.nextSibling.firstChild.click()}" style="width: 81%;" /> 
                                
                                <span class="slds-form-element__addon" style="margin-left: 5px;margin-right: 0rem;">
                                    
                                    <apex:commandButton id="btnSearch"  
                                                        onclick="onClick();return customSearch();"
                                                        rerender="results,debug,errors"
                                                        status="spinnerStatus"
                                                        value="Search!" 
                                                        image="{!URLFOR($Resource.rdcc__SLDS202, '/assets/icons/utility/search_60.png')}" 
                                                        styleClass="slds-button slds-button--icon-border"
                                                        style="padding:5px;" />
                                    
                                    <span class="slds-checkbox" style="float: right; margin-left: 4px;margin-top: 5px;">
                                        <apex:inputCheckbox id="exactmatchcheck" title="Exact Match" 
                                                        label="Exact Match" 
                                                        selected="{!exactSearch}"
                                                       	styleClass="inputCheckbox" />
                                        <apex:outputLabel styleClass="slds-checkbox__label" for="exactmatchcheck">                                                                
                                            <span class="slds-checkbox_faux"></span>                                                                
                                        </apex:outputLabel>
                                    </span>
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Search Section-->
                <!--Start Result Section-->
                <apex:outputPanel id="results">
                    <apex:outputPanel >
                    <table id="resultTable" class="display">
                        <thead style="display:none;">
                            <tr>
                                <th>Header</th>        
                            </tr>
                        </thead>
                        <tbody>
                                <apex:repeat id="project-repeat" value="{!projects}" var="insProject" rendered="{!IF(searchType=='company',false,true)}">
                                
                                    <tr>
                                        <td>
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-p-horizontal_small slds-size_1-of-12 slds-text-align_center slds-m-top_medium" style="padding-right:0px;">
                                                    <div class="slds-grid slds-wrap slds-grid_pull-padded">
                                                        <div class="slds-p-horizontal_small slds-size_1-of-1" style="margin-bottom: .5rem;">
                                                            <span class="slds-checkbox">
                                                                <apex:inputCheckbox onchange="pushPopIds('{!projects[insProject].ProjectId}')" id="checkbox" styleClass="inputCheckbox"/>
                                                                <apex:outputLabel styleClass="slds-checkbox__label" for="checkbox">                                                                
                                                                    <span class="slds-checkbox_faux"></span>                                                                
                                                                </apex:outputLabel>
                                                            </span>
                                                        </div>
                                                        <div class="slds-p-horizontal_small slds-size_1-of-1">
                                                            <apex:image styleClass="abc" title="Sync" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/sync3.png')}" style="height:17px;width:17px;" rendered="{!recordsAlreadyInSF[projects[insProject].ProjectId]}" onclick="onClick();importRecordsInSF('{!projects[insProject].ProjectId}');"/>
                                                            <apex:image styleClass="abc" title="Import" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/download3.png')}" style="height:17px;width:17px;" rendered="{!NOT(recordsAlreadyInSF[projects[insProject].ProjectId])}" onclick="onClick();importRecordsInSF('{!projects[insProject].ProjectId}');"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-p-horizontal_small slds-size_11-of-12">
                                                    <apex:repeat value="{!selectedFields}" var="f">
                                                        <apex:outputPanel rendered="{!f.value == 'Title'}">
                                                            <a href="/apex/InsightProjectDetailPage_Lightning?type=detail&Id={!projects[insProject].ProjectId}" onclick="onClick();"><b>{!projects[insProject].Title}</b></a><br/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!OR(f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country')}">
                                                            <b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;<apex:outputText value="{!projects[insProject].address[0][f.value]}" style="color:#005fb2;"/><br/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(OR(fieldApiNameTypeMap[f.value] == 'DATE',fieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                            <b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;
                                                            <apex:outputText style="color:#005fb2;" value="{0,date,MM/dd/yyyy}">
                                                            	<apex:param value="{!projects[insProject][f.value]}" />
                                                            </apex:outputText>
                                                            <br/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(fieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                            <b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;
                                                            <apex:outputText style="color:#005fb2;" value="{0, Number, Currency}">
                                                                <apex:param value="{!projects[insProject][f.value]}" />
                                                            </apex:outputText>
                                                            <br/>                                                                
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!NOT(OR(f.value == 'Title',f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country',fieldApiNameTypeMap[f.value]=='CURRENCY',fieldApiNameTypeMap[f.value]=='DATE',fieldApiNameTypeMap[f.value]=='DATETIME'))}">
                                                            <div style="word-wrap: break-word; width: 305px; margin-top: 0px; margin-bottom: -20px;"><b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;<apex:outputText value="{!projects[insProject][f.value]}" style="color:#005fb2;"/></div><br/>
                                                        </apex:outputPanel>
                                                    </apex:repeat>
                                                </div>    
                                            </div>
                                        </td>
                                    </tr>
                                </apex:repeat>
                            <apex:repeat value="{!companies}" var="key" rendered="{!IF(searchType=='company',true,false)}">
                                    <tr>
                                        <td>
                                            <div class="slds-grid slds-wrap slds-grid_pull-padded">
                                                <div class="slds-p-horizontal_small slds-size_1-of-12 slds-text-align_center slds-m-top_medium" style="padding-right:0px;">
                                                    <div class="slds-grid slds-wrap slds-grid_pull-padded">
                                                        <div class="slds-p-horizontal_small slds-size_1-of-1" style="margin-bottom: .5rem;">
                                                            <span class="slds-checkbox">
                                                                <apex:inputCheckbox onchange="pushPopIds('{!companies[key].CompanyId}')" />
                                                                <label class="slds-checkbox__label" for="checkbox-1">
                                                                    <span class="slds-checkbox_faux"></span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                        <div class="slds-p-horizontal_small slds-size_1-of-1">
                                                            <apex:image styleClass="abc" title="Sync" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/sync3.png')}" style="height:17px;width:17px;" rendered="{!recordsAlreadyInSF[companies[key].CompanyId]}" onclick="onClick();importRecordsInSF('{!companies[key].CompanyId}');"/>
                                                            <apex:image styleClass="abc" title="Import" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/download3.png')}" style="height:17px;width:17px;" rendered="{!NOT(recordsAlreadyInSF[companies[key].CompanyId])}" onclick="onClick();importRecordsInSF('{!companies[key].CompanyId}');"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-p-horizontal_small slds-size_11-of-12">
                                                    <apex:repeat value="{!selectedFields}" var="f">
                                                        <apex:outputPanel rendered="{!f.value == 'Name'}">
                                                            <a href="/apex/InsightProjectDetailPage_Lightning?type=company&Id={!companies[key].CompanyId}"><b>{!companies[key].Name}</b></a><br/>
                                                        </apex:outputPanel>                                                        
                                                        <apex:outputPanel rendered="{!OR(f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country')}">
                                                            <b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;<apex:outputText value="{!companies[key].address[0][f.value]}" style="color:#005fb2;"/><br/>
                                                        </apex:outputPanel>                                                        
                                                        <apex:outputPanel rendered="{!IF(OR(fieldApiNameTypeMap[f.value] == 'DATE',fieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                            <b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;
                                                            <apex:outputText style="color:#005fb2;" value="{0,date,MM/dd/yyyy}">
                                                            	<apex:param value="{!companies[key][f.value]}" />
                                                            </apex:outputText>
                                                            <br/>
                                                        </apex:outputPanel>                                                        
                                                        <apex:outputPanel rendered="{!IF(fieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                            <b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;
                                                            <apex:outputText style="color:#005fb2;" value="{0, Number, Currency}">
                                                                <apex:param value="{!companies[key][f.value]}" />
                                                            </apex:outputText>
                                                            <br/>                                                                
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!NOT(OR(f.value == 'Title',f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country',fieldApiNameTypeMap[f.value]=='CURRENCY',fieldApiNameTypeMap[f.value]=='DATE',fieldApiNameTypeMap[f.value]=='DATETIME'))}">
                                                            <div style="word-wrap: break-word; width: 305px; margin-top: 0px; margin-bottom: -20px;"><b><apex:outputLabel value="{!f.Label}:"/></b> &nbsp;<apex:outputText value="{!companies[key][f.value]}" style="color:#005fb2;"/></div><br/>
                                                        </apex:outputPanel>
                                                    </apex:repeat>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </apex:repeat>                               
                        </tbody>
                    </table>
                    </apex:outputPanel>
                </apex:outputPanel>        
                <!--End Result Section-->
                <!--Start Side Filter Section-->
                <div id="mySidenav" class="sidenav" style="top:70px;margin-top: 10px;">
                    <apex:commandLink style="text-decoration: underline;color: #0070d2;"
                                      value="Clear Filters"
                                      onclick="onClick();openNav();  uncheckedAllCheckbox();  clearProjectFilters();tooglePillsDiv();clearTextFilters();hideExpandedAccordian();return customSearch();"                                      
                                      status="spinnerStatus" rerender="results,errors"/>
                    <table cellpadding="2" cellspacing="2"  >
                            <tr>
                                <td><button id="btnCountryStateTS" class="accordion"  onclick="expandSection(this);"  type="button">{!IF(searchType=='project','Project Location','Company Location')}</button>
                                    <div class="tooltip displayWidth80" id="btnCountryStateTSPanel">
                                        <div id="header" class="div_header">
                                            <apex:outputPanel >
                                                <apex:commandLink value="Clear" styleClass="clear-filter" onclick="return uncheckedAllCheckbox('btnCountryStateTScontent');"/>
                                            </apex:outputPanel>
                                        </div> 
                                        <div id="btnCountryStateTScontent" class="filterDiv"> 
                                            <c:Tree_New ts="{!countryStateTS}" layer="3"/>
                                        </div> 
                                        <div id="footer" class="div_header" style="text-align:center" > 
                                            <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedLocation('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedLocationDiv','selectedLocationContainer');return customSearch();" styleClass="slds-button slds-button--neutral"/>
                                            <input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                        </div>
                                    </div>                                    
                                </td>
                            </tr>
                            <apex:outputPanel rendered="{!IF(searchType == 'company',true,false)}">
                                <tr>
                                    <td><div id="typeDiv" style="display:{!IF(companyTypeTS.nodes.size == 0, 'none','block')}">
                                        <button id="btnCompanyTypeTS" class="accordion" onclick = "expandSection(this);"  type="button" style="width:80%">Company Type</button>
                                        <div class="tooltip displayWidth80" id="btnCompanyTypeTSPanel">
                                            <div id="header" class="div_header" > 
                                                <apex:outputPanel >
                                                    <apex:commandLink value="Clear" styleClass="clear-filter" onclick="return uncheckedAllCheckbox('btnCompanyTypeTScontent');"/>
                                                </apex:outputPanel>
                                            </div>
                                            <div id="btnCompanyTypeTScontent" class="filterDiv"> 
                                                <c:Tree_New ts="{!companyTypeTS}" layer="2"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center">                                                    
                                                <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedType('{!$Resource.rdcc__SLDS202}');toogleSelectedTypeDiv();return customSearch();" styleClass="slds-button slds-button--neutral"/>                                                
                                                <input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();onClose('btnCompanyTypeTScontent','selectedTypeDiv');" oncomplete="resultTableProperties();"/>
                                            </div>
                                        </div>
                                        </div>
                                    </td>                                
                                </tr>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(searchType != 'company',true,false)}">
                                <tr>
                                    <td><button id="btnProjectStageTS" class="accordion" onclick = "expandSection(this);"  type="button">Project Stage</button>
                                        <div class="tooltip displayWidth80" id="btnProjectStageTSPanel">
                                                <div id="header" class="div_header"> 
                                                    <apex:outputPanel >
                                                        <apex:commandLink value="Clear" styleClass="clear-filter"  onclick=" return uncheckedAllCheckbox('btnProjectStageTScontent');"/>
                                                    </apex:outputPanel>
                                                    
                                                </div> 
                                                <div id="btnProjectStageTScontent" class="filterDiv"> 
                                                    <c:Tree_New ts="{!projectStageTS}" layer="2"/>
                                                </div> 
                                                <div id="footer" class="div_header" style="text-align:center"> 
                                                    <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedStage('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedStageDiv','selectedStageContainer');return customSearch();" styleClass="slds-button slds-button--neutral"/>                                                    
                                                    <input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                                </div>
                                        </div>                                    
                                    </td>                                
                                </tr>
                                <tr>
                                    <td><button id="btnProjectCategoryTS" class="accordion" onclick = "expandSection(this);"  type="button">Project Category</button>
                                        <div class="tooltip displayWidth80" id="btnProjectCategoryTSPanel">
                                                <div id="header" class="div_header"> 
                                                    <apex:outputPanel >
                                                        <apex:commandLink value="Clear" styleClass="clear-filter"  onclick=" return uncheckedAllCheckbox('btnProjectCategoryTScontent');"/>
                                                    </apex:outputPanel>
                                                </div> 
                                                <div id="btnProjectCategoryTScontent" class="filterDiv"> 
                                                    <c:Tree_New ts="{!projectCategoryTS}" layer="2"/>
                                                </div> 
                                                <div id="footer" class="div_header" style="text-align:center"> 
                                                    <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedCategory('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedCategoryDiv','selectedCategoryContainer');return customSearch();" styleClass="slds-button slds-button--neutral"/>
                                                    
                                                    <input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                                </div>                                    
                                        </div>                                    
                                    </td>                                
                                </tr>
								<tr>
                                    <td >
                                        <div id="typeDiv" >
                                            <button id="btnCSICodeTS" style="width:80%;" class="accordion" onclick = "expandSection(this);"  type="button">CSI Division</button>
                                            <div class="tooltip displayWidth80" id="btnCSICodeTSPanel" >
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel > 
															<apex:commandLink value="Clear" styleClass="clear-filter" onclick="return uncheckedAllCheckbox('btnCSICodeTScontent');"/>
                                                        </apex:outputPanel>
                                                    </div> 
                                                    <div id="btnCSICodeTScontent" class="filterDiv"> 
                                                        <c:Tree_New ts="{!projectCSICodeTS}" layer="2"/>
                                                    </div> 
                                                    <div id="footer" class="div_header" style="text-align:center"> 
                                                        <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedCSICodes('{!$Resource.rdcc__SLDS202}'); toggleSelectedDiv('selectedCSICodeDiv','selectedCSICodeContainer'); return customSearch();" styleClass="slds-button slds-button--neutral"/>
														<input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                                    </div>
                                            </div> 
                                        </div>
                                    </td>                                
                                </tr>
								<tr>
                                    <td >
                                        <div >
                                            <button id="btnMaterialCodeTS" style="width:80%;" class="accordion" onclick = "expandSection(this);"  type="button">Material Demand</button>
                                            <div class="tooltip displayWidth80" id="btnMaterialCodeTSPanel">
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel >                                                            
                                                            <apex:commandLink value="Clear" onclick="return uncheckedAllCheckbox('btnMaterialCodeTScontent');" styleClass="clear-filter"/>
                                                        </apex:outputPanel>
                                                    </div> 
                                                    <div id="btnMaterialCodeTScontent" class="filterDiv"> 
                                                        <c:Tree_New ts="{!projectMaterialCodeTS}" layer="2"/>
                                                    </div> 
                                                    <div id="footer" class="div_header" style="text-align:center"> 
                                                        <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedMaterialCodes('{!$Resource.rdcc__SLDS202}'); toggleSelectedDiv('selectedMaterialCodeDiv','selectedMaterialCodeContainer'); return customSearch();" styleClass="slds-button slds-button--neutral"/>
														<input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                                    </div>                                   
                                            </div> 
                                        </div>
                                    </td>                                
                                </tr>
                                <!--tr>
                                    <td style="display:{!IF(projectCSICodeTS.nodes.size == 0, 'none','block')}">
                                        <div id="typeDiv" style="display:{!IF(projectCSICodeTS.nodes.size == 0, 'none','block')}">
                                            <button id="btnCSICodeTS" style="width:80%;" class="accordion" onclick = "expandSection(this);"  type="button">Material Demand</button>
                                            <div class="tooltip displayWidth80" id="btnCSICodeTSPanel">
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel >
                                                            <apex:commandLink value="Clear" styleClass="clear-filter" onclick="return uncheckedAllCheckbox('btnCSICodeTScontent');"/>
                                                        </apex:outputPanel>
                                                        
                                                        
                                                    </div> 
                                                    <div id="btnCSICodeTScontent" class="filterDiv"> 
                                                        <c:Tree_New ts="{!projectCSICodeTS}" layer="2"/>
                                                    </div> 
                                                    <div id="footer" class="div_header" style="text-align:center"> 
                                                        <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedCSICodes('{!$Resource.rdcc__SLDS202}'); toggleSelectedDiv('selectedCSICodeDiv','selectedCSICodeContainer'); return customSearch();" styleClass="slds-button slds-button--neutral"/>
                                                        
                                                        <input type="button" value = "Cancel" class="slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                                    </div>
                                            </div> 
                                        </div>
                                    </td>                                
                                </tr-->
								
                                <tr>
                                    <td><button id="btnProjectLastUpdated" class="accordion" onclick = "expandSectionBelow(this);"  type="button">Project Last Updated Date</button>
                                        <div class="panel" id="btnProjectLastUpdatedPanel" style="width:80%;">
                                            
                                            <div style="float:right;margin-right:10px;">
                                                <apex:commandLink value="Clear"  onclick="return clearLastUpdate();" styleClass="clear-filter"/>
                                            </div>
                                            
                                            <div>
                                                <apex:outputLabel for="frmLastUpdated" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                                <c:DatePicker dateFieldId="fromLastUpdated"/>
                                                <!--apex:input value="{!fromLastUpdated}" type="date" label="From" title="From" id="frmLastUpdated" style="width:100%;margin-top: 5px;"/-->
                                            </div><br/>
                                            <div>
                                                <apex:outputLabel for="toLastUpdated" value="To" style="margin-right: 35px;font-weight: bold;"/>
                                                <c:DatePicker dateFieldId="toLastUpdated"/>                                            
                                                <!--apex:input value="{!toLastUpdated}" type="date" label="To" title="To" id="toLastUpdated" style="width:100%;margin-top: 5px;"/-->
                                            </div><br/>
                                            <div id="errMsgLastUpdatedDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p></div>
                                            <div style="text-align:center">
                                                <apex:commandButton value="Apply" rerender="results" onclick="return validateData('date_fromLastUpdated','date_toLastUpdated','errMsgLastUpdatedDate','Last Updated Date','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus" styleClass="slds-button slds-button--neutral"/>
                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button id="btnProjectBiddingDtRng" class="accordion"  onclick = "expandSectionBelow(this);"  type="button">Project Bidding Date Range</button>
                                        <div class="panel" id="btnProjectBiddingDtRngPanel" style="width:80%;">
                                            <div style="float:right;margin-right:10px;">
                                                <apex:commandLink value="Clear"  onclick="return clearBiddingDate();" styleClass="clear-filter"/>
                                            </div>
                                            
                                            <div>
                                                <apex:outputLabel for="frmBiddingDate" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                                <c:DatePicker dateFieldId="fromBidding"/> 
                                                
                                            </div><br/>
                                            <div>
                                                <apex:outputLabel for="toBiddingDate" value="To" style="margin-right: 35px;font-weight: bold;"/> 
                                                <c:DatePicker dateFieldId="toBidding"/> 
                                                
                                            </div><br/>
                                            <div id="errMsgBidDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                            <div style="text-align:center">
                                                <apex:commandButton value="Apply" rerender="results" onclick="return validateData('date_fromBidding','date_toBidding','errMsgBidDate','Bidding Date','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus"  styleClass="slds-button slds-button--neutral"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
								<tr>
                                    <td><button id="btnProjectListedDtRng" class="accordion"  onclick = "expandSectionBelow(this);"  type="button">Project Listed Date Range</button>
                                        <div class="panel" id="btnProjectListedDtRngPanel" style="width:80%;">
                                            <div style="float:right;margin-right:10px;">
                                                <apex:commandLink value="Clear"  onclick="return clearListedDate();" styleClass="clear-filter"/>
                                            </div>
                                            
                                            <div>
                                                <apex:outputLabel for="frmListedDate" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                                <c:DatePicker dateFieldId="fromListed"/> 
                                                
                                            </div><br/>
                                            <div>
                                                <apex:outputLabel for="toListedDate" value="To" style="margin-right: 35px;font-weight: bold;"/> 
                                                <c:DatePicker dateFieldId="toListed"/> 
                                                
                                            </div><br/>
                                            <div id="errMsgListDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                            <div style="text-align:center">
                                                <apex:commandButton value="Apply" rerender="results" onclick="return validateData('date_fromListed','date_toListed','errMsgListDate','Listed Date','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus"  styleClass="slds-button slds-button--neutral"/>
												
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button id="btnProjectEstValue" class="accordion" onclick = "expandSectionBelow(this);"  type="button">Project Value</button>
                                        <div class="panel" id="btnProjectEstValuePanel" style="width:80%;">
                                            <div style="float:right;margin-right:10px;">
                                                <apex:commandLink value="Clear"  onclick="return clearProjectEstValue();" styleClass="clear-filter"/>
                                            </div>
                                            
                                            <div>
                                                <apex:outputLabel for="minProjectValue" value="Min" style="margin-right: 30px;font-weight: bold;"/>
                                                <apex:inputText id="minProjectValue"  label="Min" style="width:100%;margin-top: 5px;"/>
                                            </div><br/>
                                            <div>
                                                <apex:outputLabel for="maxProjectValue" value="Max" style="margin-right: 30px;font-weight: bold;"/>
                                                <apex:inputText id="maxProjectValue" label="Max" style="width:100%;margin-top: 5px;"/>
                                                
                                            </div><br/>
                                            <div>
                                                <apex:inputCheckbox id="estCheck"/>
                                                <apex:outputLabel for="estCheck" value="Show projects without values or zero value" />                                            
                                            </div><br/>
                                            <div id="errMsgEstValue" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                            <div style="text-align:center">
                                                <apex:commandButton value="Apply" rerender="results" onclick="return validateData('page:theForm:criteria:minProjectValue','page:theForm:criteria:maxProjectValue','errMsgEstValue','Estimated Value','{!$Resource.rdcc__SLDS202}');"  styleClass="slds-button slds-button--neutral"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </apex:outputPanel>
                        	<tr>
                                <td>
                                    
                                    <div id="selectedLocationContainer" class="slds" style="display:none" >
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                {!IF(searchType == 'project','Project Location','Company Location')}                                                
                                            </p>
                                        </div>
                                        <div id="selectedLocationDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px;"/>                                            
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            
                                <tr>
                                <td>
                                    <div id="selectedTypeContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Company Type
                                            </p>
                                        </div>
                                        
                                        <div id="selectedTypeDiv" Style="background-color:white;overflow:auto;max-height: 200px;max-width:200px"/>    
                                    </div>
                                    
                                </td>
                            </tr>
                           
                            <apex:outputPanel rendered="{!IF(searchType == 'project',true,false)}">
                                <tr>
                                    <td>
                                        
                                        <div id="selectedStageContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Project Stage
                                                </p>
                                            </div>
                                            <div id="selectedStageDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td>
                                        
                                        <div id="selectedCategoryContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Project Category
                                                </p>
                                            </div>
                                            <div id="selectedCategoryDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
								<tr>
                                    <td>                                  
                                        <div id="selectedCSICodeContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    CSI Division
                                                </p>
                                            </div>                                      
                                            <div id="selectedCSICodeDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td>                                  
                                        <div id="selectedMaterialCodeContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Material Code
                                                </p>
                                            </div>                                      
                                            <div id="selectedMaterialCodeDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
                                <tr>                                    
                                    <td>                                  
                                        <div id="selectedLastUpdatedDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Last Updated Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedLastUpdatedDateDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td>                                  
                                        <div id="selectedBidDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Bidding Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedBidDateDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
								<tr>
                                    <td>                                  
                                        <div id="selectedListDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Listed Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedListDateDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td>                                  
                                        <div id="selectedEstValueContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header" style="margin-left:-7px"> 
                                                <p>
                                                    Project Value
                                                </p>
                                            </div>                                          
                                            <div id="selectedEstValueDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                        </div>
                                        
                                    </td> 
                                    
                                </tr>
                            </apex:outputPanel>
                        </table>
                </div>
                <!--End Side Filter Section-->
                <div id="importModel" style="display:none">
                    <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                        <div class="slds-modal__container">
                            <div class="slds-modal__header">
                                Please Select a record to import!
                            </div>
                            
                            <div class="slds-modal__footer">
                                <input type = "button" class="slds-button slds-button_neutral" onclick="hideimportModel();" value="Ok" />                                
                            </div>  
                        </div>                        
                    </div>
                    <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
                </div>
                
            </apex:form>
        </body>
    </html>
</apex:page>