<apex:page showHeader="true" standardStylesheets="false" sidebar="true" StandardController="Contact" >
  <apex:stylesheet value="http://www.apexdevnet.com/ootbe/starthere/ootbe.css"/>

<div style="margin:-60px">



</div>

</apex:page>