<apex:page sidebar="false" >
    <div class="slds">
        <div class="slds-spinner_container" id="loading" style="display:block;">
            <div id="loading-content">
                <div role="status" class="slds-spinner slds-spinner--medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
      <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
      <style>
         .slds .slds-spinner:before, .slds .slds-spinner:after, 
        .slds .slds-spinner__dot-a:before, .slds .slds-spinner__dot-b:before, 
        .slds .slds-spinner__dot-a:after, .slds .slds-spinner__dot-b:after{
        	background:#0070d2 !important;
        }
      </style>
      <script>
          document.getElementById("loading").style.display='block';
          window.onload = function() {
              document.getElementById("loading").style.display='none';
          }
      </script>
    <apex:form >
        <script>
        function show()
          {
               var iframe = document.getElementById('help');
              iframe.src = iframe.src;
              document.getElementById("maximised").style.display="flex";
             
          }
        </script>
          <div class="slds-page-header" style="background-color:#005FB2;color:#fff;">
                     <div class="slds-media slds-media--center">
                        <div class="slds-media__figure">
                            <svg aria-hidden="true" class="slds-icon">
                                <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/utility-sprite/svg/symbols.svg#questions_and_answers')}"></use>
                            </svg>
                        </div>
                        <div class="slds-media__body">
                            <p class="slds-page-header__title slds-truncate slds-align-middle" title=" Contacting Customer Care" style="font-weight:bold">
                                Contacting Customer Care
                            </p>      
                        </div>
                    </div>             
                </div>
        <br/>
        <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap">
             <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y">
                 <div class="slds-panel__section slds-border_bottom" style="font-size:.9rem; margin-left:5px;padding-bottom:0rem;">
                     <div class="slds-text-body_regular" >
                         <a href="http://insightsynchelp.constructconnect.com">Insight Sync Online Help</a> - User documentation for the Salesforce Application, ConstructConnect.
                     </div>
                 </div>
                 <div class="slds-panel__section slds-border_bottom" style="font-size:.9rem; margin-left:5px;">
                     <div class="slds-text-body_regular" >Our Customer Care Department is committed to providing products and services at the highest level and 
                      is always interested in hearing what you have to say.
                     </div>
                 </div>
            </div>
        </div>
        
        
         <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap">
             <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y">
                 <div class="slds-panel__section slds-border_bottom">
                     <div class="slds-media slds-media--center">
                        <div class="slds-media__figure">
                             <svg aria-hidden="true" class="slds-icon" style="fill:#54698d;width:1.5 rem;height:1.5rem">
                                <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/utility-sprite/svg/symbols.svg#call')}"></use>
                            </svg>
                         </div>
                        <div class="slds-media__body">
                        <h3 style="font-weight: bold;font-size:medium;" class="slds-text-heading_small slds-m-bottom_medium">By Telephone - 1.800.424.3996 US | 1.800.959.0502 Canada</h3>
                     <div class="slds-text-align_center" style="font-size:.9rem;">Monday through Friday 9:00 AM to 5:00 PM EST
                     </div>
                 </div>
              </div>     
                 </div>
            </div>
        </div>
        <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap">
             <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y">
                 <div class="slds-panel__section slds-border_bottom">
                    <div class="slds-media slds-media--center">
                        <div class="slds-media__figure">
                             <svg aria-hidden="true" class="slds-icon" style="fill:#54698d;width:1.5 rem;height:1.5rem">
                                <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/utility-sprite/svg/symbols.svg#email')}"></use>
                            </svg>
                         </div>
                        <div class="slds-media__body">
                        <h3 style="font-weight: bold;font-size:medium;" class="slds-text-heading_small slds-m-bottom_medium">By E-mail</h3>
                            <div class="slds-text-align_center" style="font-size:.9rem;">Send e-mail requests to <a href="mailto: customercare@constructconnect.com?subject=Salesforce%20CRM%20Integration%20Customer%20Support%20Request&body=Please%20do%20not%20delete%20this%20reference:%20[{!$Organization.Id}:{!$Organization.Name}:{!$User.FirstName} {!$User.LastName}]">customercare@constructconnect.com</a> for customer service.
                            </div>
                        </div>
                       
                    </div>     
                   <div class="slds-text-align_center" style="font-size:.9rem; margin-left: 42px;">Send e-mail requests to <a href="mailto: crmi-support@constructconnect.com?subject=Salesforce%20CRM%20Integration%20Technical%20Support%20Request&body=Please%20do%20not%20delete%20this%20reference:%20[{!$Organization.Id}:{!$Organization.Name}:{!$User.FirstName} {!$User.LastName}]">crmi-support@constructconnect.com</a> for technical support.
                   </div> <br/>
                   <div class="slds-text-align_center" style="font-size:.9rem; margin-left: 42px;">
                    <b>Please include as many details as possible (including screenshot attachments if applicable) to help us better serve you.</b>
                   </div>   
                     
                 </div>
            </div>
        </div>
         
        
        <br/><br/><br/><br/>
    </apex:form>
       
    </html>
    </div>
</apex:page>