<apex:page standardController="Opportunity" extensions="rdcc.SearchNamesViewOnOpportunity_Ctrl" id="opps">
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
    <script>
    j$ = jQuery.noConflict();

    window.onload = function(){
        j$('a').each(function() {
           var a = new RegExp('/' + window.location.host + '/');
           if (!a.test(this.href)) {
              console.log('Enter If');
              j$(this).attr("target","_parent");
           }
        });
    }
</script>

     <br/>
     <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}" style="margin-top:10px;">
     <style>
       body .pbBody table.list tr.headerRow .actionColumn{display:none;}
       body .pbBody table.list .actionColumn{display:none;}
       .bRelatedList .bPageBlock .pbButton{
            display:none;
        }  
   </style>
         <apex:relatedList rendered="{!NOT(ISNULL(Opportunity.rdcc__Project__c))}" list="Search_Project_Bridges__r" subject="{!Opportunity.rdcc__Project__c}" pageSize="200"/>
         <apex:pageBlock title="CRM Export Details" rendered="{!ISNULL(Opportunity.rdcc__Project__c)}">
                 <apex:pageMessage rendered="{!ISNULL(Opportunity.rdcc__Project__c)}" severity="Info" strength="3" summary="Project is not associated with this Lead." title="Cannot display data."></apex:pageMessage>
         </apex:pageBlock>        
               
    </apex:outputPanel>
    
    
    
    
    
    
    <apex:outputPanel rendered="{!OR($User.UIThemeDisplayed == 'Theme4d',$User.UIThemeDisplayed =='Theme4t')}" id="lightPanel">
            <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
             <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/SearchNamesViewOnOpportunity.css')}"/>
              <div class="slds" > 
                
                        <h4 class="slds-section-title--divider">CRM Export Details</h4>
                        <div class="slds-grid">
                            <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                                <thead>
                                    <tr class="slds-text-title--caps">
                                        <th scope="col">
                                            <div class="slds-truncate" title="Name">Search Project Bridge Name</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="SearchName">Search Name</div>
                                        </th>
                                         <th scope="col">
                                            <div class="slds-truncate" title="Insight Matching Documents Url">Insight Matching Documents Url</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!prj.Search_Project_Bridges__r}" var="bridge" id="theRepeat">
                                        <tr>
                                            
                                            <td data-label="Name">
                                                <div class="slds-truncate">
                                                    <apex:outputLink value="{!URLFOR('/' & bridge.id)}">{!bridge.name}</apex:outputLink>
                                                </div>
                                            </td>
                                            <td data-label="SearchName">
                                                <div class="slds-truncate"><apex:outputText value="{!bridge.Search_Name__r.name}"></apex:outputText></div>
                                            </td>
                                             <td data-label="Insight Matching Documents Url">
                                                <div class="slds-truncate"><apex:outputText value="{!bridge.rdcc__DocCenterUrl__c}"></apex:outputText></div>
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                            
                            
                            </div>
                            <br/>
                            
                             
              </div>    
                
             </html>    
        </apex:outputPanel>
        
      
        
</apex:page>