<apex:page standardController="Lead" extensions="rdcc.ProjectDetailPageForLeadController" tabStyle="rdcc__ReedProject__c" id="pgId"> 
   <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
    <script>
    j$ = jQuery.noConflict();

    window.onload = function(){
        j$('a').each(function() {
           var a = new RegExp('/' + window.location.host + '/');
           if (!a.test(this.href)) {
              console.log('Enter If');
              j$(this).attr("target","_parent");
           }
        });
    }
</script>
   
   <style>
       body .pbBody table.list tr.headerRow .actionColumn{display:none;}
       body .pbBody table.list .actionColumn{display:none;}
       .bRelatedList .bPageBlock .pbButton{
            display:none;
        }  
   </style>
   
    <script>
        var previousOnload = window.onload;        
        window.onload = function() { 
            if (previousOnload) { 
                previousOnload();
            }
            init();
        }
        
        function init() {
            var pbShowMores = document.getElementsByClassName('pShowMore');
            if(pbShowMores.length > 0){
                for(var i =0; i<pbShowMores.length;i++){
                    console.log(pbShowMores[i].childNodes);                   
                    //pbShowMores[i].innerHTML = '<a href='+pbShowMores[i].childNodes[2]+' target="_parent">'+pbShowMores[i].childNodes[2].textContent+'</a>';
                    pbShowMores[i].innerHTML = '';                    
                }
            }
        }
    </script>
       
        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">
            <apex:pageBlock rendered="{!project != NULL}" mode="maindetail">
                <apex:pageBlockSection >
                    <apex:repeat value="{!projectFields}" var="f">
                        <apex:outputField value="{!project[f]}"/>
                    </apex:repeat>
                </apex:pageBlockSection>
            </apex:pageBlock>
            <br/>
            
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!OR($User.UIThemeDisplayed == 'Theme4d',$User.UIThemeDisplayed =='Theme4t')}">
               
            <head>
                <title>project.Name</title>
                <apex:slds /> 
                <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/ProjectDetailPageForOpp.css')}"/>
            </head>
            
            <body class="slds-scope">
                
             
                <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="margin-bottom: 50px;display:{!IF(projectFields.size>0,'block','none')}">
                <div class="slds-form--stacked slds-grow">
                    <div class="slds-panel__section ">
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                            <apex:repeat value="{!projectFields}" var="f">                                    
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2" style="line-height: 1;">
                                    <div style="width:40%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control">
                                                <label class="slds-form-element__label" >{!$ObjectType.ReedProject__c.fields[f].label}</label><br/>
                                                <apex:outputField value="{!project[f]}" />                                                    
                                            </div><br/>     
                                        </div>
                                    </div>
                                </div>
                            </apex:repeat>
                            
                                                        
                        </div>
                    </div>                        
                </div>
            </div>
                <!-- / ACCOUNT DETAIL CARD -->
                
            </body>
            
        </apex:outputPanel>
        <!-- <div class="{!IF($User.UIThemeDisplayed == 'Theme3','none','slds-scope')}"> -->
        
        <apex:dynamicComponent componentValue="{!relatedList}" id="classicRelated"/>
        <!-- </div> -->
        
       
    </apex:page>