<apex:page tabStyle="Lead"  extensions="rdcc.CreateLeadController" standardController="rdcc__ReedProject__c" id="page">
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/CreateLeadFromCompany.css')}"/>
    <!--apex:includeScript value="https://code.jquery.com/jquery-1.11.1.min.js"/-->
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}"/>
    
    <!-- Declare SessionId Variable For AJAX Toolkit -->
    <script type="text/javascript">
    
    var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    
    <!-- Salesforce AJAX Toolkit Source -->
    <script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script>    
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/CreateLeadFromCompany.js')}"/>
        
        <script type="text/javascript"> 
            var previousOnload = window.onload;        
    window.onload = function() { 
        if (previousOnload) { 
            previousOnload();
        }
        init();
    }
    
    function init(){
        
        if('{!manualLeadSetting}'== 'No'){
            if('{!JSENCODE($CurrentPage.parameters.theme)}' == 'Theme3')
                document.getElementById("ModalId_classic").style.display = "block";
            else
                document.getElementById("ModalId_light").style.display = "block";
        } 
        
    }
    
    function goForIt(){
        if ( '{!JSENCODE($CurrentPage.parameters.theme)}' == 'Theme4d' || '{!JSENCODE($CurrentPage.parameters.theme)}' == 'Theme4t')  {
            sforce.one.navigateToURL('/apex/CreateLeadFromCompany?accountId={!JSENCODE($CurrentPage.parameters.accountId)}&Projid={!JSENCODE($CurrentPage.parameters.Projid)}&theme={!JSENCODE($CurrentPage.parameters.theme)}');
        }
    } 
    
    function openLookup(baseURL, width, modified, searchParam){
        //alert("hello");
        console.log(baseURL) ;       
        var originalbaseURL = baseURL;
        var originalwidth = width;
        var originalmodified = modified;
        var originalsearchParam = searchParam;
        var id = document.getElementById('{!$Component.myFormLight.Id}').value;
        console.log(id);        
        var lookupType = baseURL.substr(baseURL.length-3, 3);
        if (modified == '1') baseURL = baseURL + searchParam;        
        var isCustomLookup = false;
        if(lookupType == "003" || lookupType == "{!insConPrefix}"){            
            var urlArr = baseURL.split("&");
            var txtId = '';
            if(urlArr.length > 2) {
                urlArr = urlArr[1].split('=');
                txtId = urlArr[1];
            }             
            // Following is the url of Custom Lookup page. You need to change that accordingly
            baseURL = "/apex/CustomContactLookup?txt=" + txtId+"&Id="+id;
            
            // Following is the id of apex:form control "myForm". You need to change that accordingly
            baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.myFormLight}");
            if (modified == '1') {
                baseURL = baseURL + "&lksearch=" + searchParam;
            }
            
            // Following is the ID of inputField that is the lookup to be customized as custom lookup            
            isCustomLookup = true;           
        }
        
        
        if(isCustomLookup == true){
            openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
        }
        else {
            if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
            openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
        } 
    }
    </script>
    
    <apex:form id="myFormLight">
    <apex:inputHidden value="{!accountId}" id="Id"/>
    <apex:outputpanel rendered="{!AND($CurrentPage.parameters.theme == 'Theme3',manualLeadSetting == 'Yes')}">
        
        
        
        
        <apex:sectionHeader title="Edit"  subtitle="New Lead" />
        <apex:pageBlock title="Lead Edit" rendered="{!IF(manualLeadSetting = 'Yes',TRUE,FALSE)}">
            
            
            <apex:pageMessages /><br/>
            
            
            
            <apex:pageBlockTable value="{!duplicateRecords}" var="item" rendered="{!hasDuplicateResult}">
                <apex:column >
                    <apex:facet name="header">Name</apex:facet>
                    <apex:outputLink value="/{!item['Id']}">{!item['Name']}</apex:outputLink>
                </apex:column>
                <!--apex:column >
<apex:facet name="header">Company</apex:facet>
<apex:outputField value="{!item['Phone']}"/>
</apex:column!-->
                
                <apex:column >
                    <apex:facet name="header">Owner</apex:facet>
                    <apex:outputField value="{!item['OwnerId']}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Last Modified Date</apex:facet>
                    <apex:outputField value="{!item['LastModifiedDate']}"/>
                </apex:column>
            </apex:pageBlockTable>
            <br/>
            <apex:pageBlockSection columns="2" collapsible="true" title="Lead Information">
                <apex:inputField label="Lead Owner" value="{!lead.OwnerId}"/>                   
                <apex:inputField value="{!lead.Status}"/>
                <apex:inputField value="{!lead.Salutation}"/>
                <apex:pageBlockSectionItem rendered="{!IF(objType == 'Account',true,false)}">
                    <apex:outputLabel value="Lead Name" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:inputField id="Account" value="{!prj.rdcc__Primary_Project_Contact__c}"/>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!lead.Phone}"/>
                <apex:pageBlockSectionItem rendered="{!IF(objType == 'rdcc__Insight_Company__c',true,false)}">
                    <apex:outputLabel value="Lead Name" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:inputField id="InsAccount" value="{!conRole.rdcc__Insight_Contact__c}"/>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:inputText value="{!lead.company}" disabled="true"/>                
                <apex:inputField value="{!lead.fax}" />
                <apex:inputField value="{!lead.LeadSource}"/>
                <apex:repeat value="{!leadMandFieldMap}" var="mandField">                    
                    <apex:inputField value="{!lead[mandField]}"/>
                </apex:repeat>
                
                
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" collapsible="true" title="Address Information">
                <apex:inputField value="{!lead.Street}" />
                <apex:inputField value="{!lead.City}" />
                <apex:inputField value="{!lead.state}" rendered="{!NOT(isStateCountryPicklistEnabled)}" />
                <apex:inputField value="{!lead['StateCode']}" rendered="{!isStateCountryPicklistEnabled}" />
                <apex:inputField value="{!lead.PostalCode}" />
                <apex:inputField value="{!lead.country}" rendered="{!NOT(isStateCountryPicklistEnabled)}" />
                <apex:inputField value="{!lead['CountryCode']}" rendered="{!isStateCountryPicklistEnabled}" />
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" collapsible="true" title="Additional Information" rendered="{!wrapperList.size>0}">
                <apex:repeat value="{!wrapperList}" var="f">
                    <apex:inputField value="{!lead[f.apiName]}"/>
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" collapsible="true" title="Description Information">
                <apex:inputTextarea label="Description" cols="60" rows="5" value="{!lead.Description}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" collapsible="true" title="Project Information" rendered="{!defaultProjectFields.size>0}">
                <apex:repeat value="{!defaultProjectFields}" 
                             var="field">
                    <apex:outputField value="{!project[field]}" />
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!createLead}"  rendered="{!IF(manualLeadSetting == 'Yes' &&  !hasDuplicateResult ,true,false )}"/>
                <apex:commandButton value="Save (Ignore Alert)" action="{!forceSaveLead}" rendered="{!isDuplicateSaveAllowed}"/>
                <apex:commandButton value="Cancel" action="{!onCancel}" immediate="true"/>
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
    </apex:outputpanel>
    
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        
        <apex:outputPanel id="cssPan">
            <!--apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" /-->
        </apex:outputPanel>
        
        <apex:outputpanel styleClass="slds" id="myFormLight" rendered="{!AND(manualLeadSetting='Yes',OR($CurrentPage.parameters.theme == 'Theme4d',$CurrentPage.parameters.theme == 'Theme4t'))}">
            <style>
                select{
                
                background-color: #fff ;
                color: #16325c;
                border: 1px solid #d8dde6;
                border-radius: .25rem;
                width: 100%;
                transition: border .1s linear, background-color .1s linear;
                display: inline-block;
                padding: 0 1rem 0 .75rem;
                line-height: 1.875rem;  
                min-height: calc(1.875rem + (1px * 2));
                }
            </style>
            <div id="msgDiv" style="display:none;margin-left:20px;margin-right:20px; top :70px; position:relative">
                <apex:pageMessages id="pgMsg"></apex:pageMessages>
            </div>     
            <div id="loading" style="display:none">
                <div id="loading-content">
                    <div role="status" class="slds-spinner slds-spinner--medium" id="spinner">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div> 
            
            <div class="slds-page-header slds-page-header--object-home slds-fixed-header">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container">
                                    <svg class="slds-icon slds-icon-standard-lead" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/standard-sprite/svg/symbols.svg#lead')}"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <p class="slds-text-title--caps slds-line-height--reset">Lead</p>
                                <h1 class="slds-page-header__title slds-p-right--x-small">
                                    <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                        <span class="slds-truncate">New Lead</span>
                                        <svg class="slds-button__icon slds-button__icon--right slds-no-flex" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/utility-sprite/svg/symbols.svg#down')}"></use>
                                        </svg>
                                    </span>        
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
                        <apex:outputPanel id="buttonGroup">
                            <div class="slds-button-group" role="group">
                                
                                <apex:commandButton value="Save" action="{!createLead}" reRender="pgMsg,dupPan,buttonGroup,buttonGroup1" onclick="onClick();" oncomplete="overridePageMessages();onComplete();"  rendered="{!IF(manualLeadSetting == 'Yes' &&  !hasDuplicateResult ,true,false )}"   styleClass="slds-button slds-button--neutral"
                                                    style="margin-right:5px;" />
                                <apex:commandButton value="Save (Ignore Alert)"   action="{!forceSaveLead}" reRender="dupPan,pgMsg,buttonGroup,buttonGroup1" onclick="onClick();" oncomplete="overridePageMessages();onComplete();" rendered="{!isDuplicateSaveAllowed}"  styleClass="slds-button slds-button--neutral" style="margin-right:5px;" />
                                <apex:commandButton value="Cancel" action="{!onCancel}" immediate="true" styleClass="slds-button slds-button--neutral" html-formnovalidate="formnovalidate"/> 
                            </div> 
                        </apex:outputPanel>                       
                    </div>
                </div>
            </div>
            <div class="slds-docked-form-footer"> 
                <apex:outputPanel id="buttonGroup1">
                    <div class="slds-button-group" role="group" style="float: right;margin-right: 23px;">
                        <apex:commandButton value="Save"  action="{!createLead}" reRender="pgMsg,dupPan,buttonGroup1,buttonGroup" onclick="onClick();"  oncomplete="overridePageMessages();onComplete();"  rendered="{!IF(manualLeadSetting == 'Yes' &&  !hasDuplicateResult ,true,false )}" styleClass="slds-button slds-button--neutral" style="margin-right:5px;" />
                        <apex:commandButton value="Save (Ignore Alert)" action="{!forceSaveLead}" reRender="dupPan,pgMsg,buttonGroup,buttonGroup1" onclick="onClick();" oncomplete="overridePageMessages();onComplete();" rendered="{!isDuplicateSaveAllowed}" styleClass="slds-button slds-button--neutral" style="margin-right:5px;" />
                        <apex:commandButton value="Cancel" action="{!onCancel}" immediate="true" styleClass="slds-button slds-button--neutral" html-formnovalidate="formnovalidate"/>
                        <!-- <apex:commandButton value="doIt" onclick="goForIt();" html-formnovalidate="formnovalidate"/> -->
                    </div>
                </apex:outputPanel>
            </div>
            <apex:outputPanel title="Lead Edit" rendered="{!IF(manualLeadSetting = 'Yes',TRUE,FALSE)}">  
                <apex:outputPanel id="dupPan">
                    <apex:outputPanel rendered="{!hasDuplicateResult}">
                        
                        <table class="slds-table slds-table--bordered slds-table--cell-buffer" id="dup_table" style="top :70px; position:relative">
                            <thead>
                                <tr class="slds-text-title--caps">
                                    <th scope="col">
                                        <div class="slds-truncate" title="Name"><b>Name</b></div>
                                    </th>
    
                                    
                                    <th scope="col">
                                        <div class="slds-truncate slds-medium-show" title="Owner"><b>Owner</b></div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate slds-medium-show" title="Last Modified Date"><b>Last Modified Date</b></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:repeat value="{!duplicateRecords}" var="item" id="theRepeatrow">
                                    <tr>
                                        <th scope="row" data-label="Name">
                                            <div class="slds-truncate" title="{!item['Name']}"><apex:outputLink value="/{!item['Id']}">{!item['Name']}</apex:outputLink></div>
                                        </th>
         
                                        
                                        <td data-label="Owner">
                                            <div class="slds-truncate slds-medium-show" title="{!item['OwnerId']}"><apex:outputField value="{!item['OwnerId']}"/></div>
                                        </td>
                                        <td data-label="Last Modified Date">
                                            <div class="slds-truncate slds-medium-show" title="{!item['LastModifiedDate']}"><apex:outputField value="{!item['LastModifiedDate']}"/></div>
                                        </td>
                                    </tr>
                                </apex:repeat>                    
                            </tbody>
                        </table><br/>
                    </apex:outputPanel>
                </apex:outputPanel>
                
                
                <div id="body1" class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="top :70px; position:relative">
                    <div class="slds-form--stacked slds-grow">
                        <div class="slds-panel__section ">
                            <h2 class="slds-section-title--divider">Lead Information</h2>
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">                                
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">Lead Owner</label><br/>
                                            <apex:outputField label="Lead Owner" value="{!lead.OwnerId}" styleClass="slds-input"/> 
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <abbr class="slds-required" title="required">*</abbr>
                                            <label class="slds-form-element__label">Lead Status</label>
                                            <apex:inputField value="{!lead.Status}" styleClass="slds-input"/>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">                                            
                                            <label class="slds-form-element__label">Salutation</label>
                                            <apex:inputField value="{!lead.Salutation}" styleClass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">                                            
                                            <label class="slds-form-element__label">Phone</label>
                                            <apex:inputField value="{!lead.Phone}" styleClass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" id="oppAcclkp" class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true" >
                                        <div class="slds-form-element">
                                            <abbr class="slds-required" title="required">* </abbr>
                                            <label class="slds-form-element__label">Lead Name</label>
                                            <div class="slds-input-has-icon slds-input-has-icon--right">
                                                
                                                <input id="searchInput"  autocomplete="false" class="slds-input" type="text" placeholder="Search Records"
                                                       onblur="hideDropDown()" onfocus="searchOnTypeAcc(j$(this),'{!objType }','{!$Resource.rdcc__SLDS202}')" onkeyup="searchOnTypeAcc(j$(this),'{!objType }','{!$Resource.rdcc__SLDS202}')"                                                       
                                                       aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="SrchDrpDwn" required="true"/>
                                                <apex:inputHidden id="hdnFieldOppAccLookup" value="{!prj.rdcc__Primary_Project_Contact__c}"/>
                                                <apex:inputHidden id="hdnFieldOppAccLookupIns" value="{!conRole.rdcc__Insight_Contact__c}" />
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="slds-lookup__menu" role="listbox" id="SrchDrpDwn" style="display:none;">
                                            <div class="slds-lookup__item" id="searchTextDiv"></div>
                                            
                                            <!--Search Results UL--> 
                                            <ul class="slds-lookup__list" role="presentation" id="searchResultsUL" style="max-height: 240px;">        
                                            </ul>
                                        </div>                                        
                                    </div>
                                </div>
                                
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <abbr class="slds-required" title="required">*</abbr>
                                            <label class="slds-form-element__label">Company</label>
                                            <apex:inputText value="{!lead.Company}" disabled="true" styleClass="slds-input" id="lead_company"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">Fax</label>
                                            <apex:inputField value="{!lead.fax}" styleClass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">Lead Source</label>
                                            <apex:inputField value="{!lead.LeadSource}" styleClass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                                <apex:repeat value="{!wrapperListforMandatoryFields}" var="f">
                                    
                                    <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2" >                              
                                        <div style="float:left;margin-left:5px;padding:5px;width:80%" class="responsive-width">
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control" style="display:{!IF(f.apiName != 'OwnerId' && f.apiName != 'AccountId' && f.apiName != 'IsPrivate' && f.apiName != 'Name' && f.apiName != 'Name' && f.apiName != 'LeadSource' && f.apiName !='Type' && f.apiName !='Description' && f.apiName !='rdcc__project__c','block','none')}">                                                    
                                                    <div style="display:{!If($ObjectType.Lead.fields[f.apiName].type !='reference','block','none')}">
                                                        <abbr class="slds-required" title="required" style="float:left;">*</abbr>
                                                        <label class="slds-form-element__label"> {!$ObjectType.Lead.fields[f.apiName].label}</label><br/>
                                                        <apex:inputField value="{!lead[f.apiName]}"  required="false" styleClass="{!If($ObjectType.Lead.fields[f.apiName].type !='boolean','slds-input','')}"/>                                                    
                                                        
                                                    </div>
                                                    <apex:outputPanel rendered="{!IF($ObjectType.Lead.fields[f.apiName].type =='reference',true,false)}">
                                                        <div style="display:{!If($ObjectType.Lead.fields[f.apiName].type =='reference','block','none')}">
                                                            <abbr class="slds-required" title="required" style="float:left;">*</abbr>
                                                            <c:SLDSDynamicLookup id="fieldValue" SLDSResourceName="{!$Resource.rdcc__SLDS202}"
                                                                                 ObjectApiName="{!finalObjectMap[f.apiName]}" DisplayFieldApiNames="Name" DisplayFieldsPattern="Name"  
                                                                                 photo="" LabelName="{!$ObjectType.Lead.fields[f.apiName].label}" SetValueToField="{!lead[f.apiName]}" SetIdField="{!f.recordValue}"/>
                                                        </div>
                                                    </apex:outputPanel>
                                                </div>  
                                            </div>
                                            
                                        </div>
                                    </div>                               
                                </apex:repeat>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="top :70px; position:relative">
                    <div class="slds-form--stacked slds-grow">
                        <div class="slds-panel__section ">
                            <h2 class="slds-section-title--divider">Address Information</h2>
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">                                
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">Street</label>
                                            <apex:inputField value="{!lead.Street}" styleClass="slds-input"/>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">City</label>
                                            <apex:inputField value="{!lead.City}" styleClass="slds-input"/>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">State/Province</label>
                                            <apex:inputField value="{!lead.state}" styleClass="slds-input" rendered="{!NOT(isStateCountryPicklistEnabled)}" />
                                            <apex:inputField value="{!lead['StateCode']}" styleClass="slds-input" rendered="{!isStateCountryPicklistEnabled}" />                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">                                            
                                            <label class="slds-form-element__label">Zip/Postal Code</label>
                                            <apex:inputField value="{!lead.PostalCode}" styleClass="slds-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label">Country</label>
                                            <apex:inputField value="{!lead.Country}" styleClass="slds-input" rendered="{!NOT(isStateCountryPicklistEnabled)}" />
                                            <apex:inputField value="{!lead['CountryCode']}" styleClass="slds-input" rendered="{!isStateCountryPicklistEnabled}" />
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
                <apex:outputPanel rendered="{!IF(wrapperList.size > 0,true,false)}">
                    <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="top :70px; position:relative">
                        <div class="slds-form--stacked slds-grow">
                            <div class="slds-panel__section ">
                                <h2 class="slds-section-title--divider">Additional Information</h2>
                                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                    <!--apex:repeat value="{!additionalLeadFields}" var="f"-->
                                    <apex:repeat value="{!wrapperList}" var="f">
                                        <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                            <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                                <div class="slds-form-element">                                                
                                                    <div class="slds-form-element__control">
                                                        <div style="display:{!If($ObjectType.Lead.fields[f.apiName].type !='reference' || f.apiName == 'RecordTypeId','block','none')}">
                                                            
                                                            <label class="slds-form-element__label">{!$ObjectType.Lead.fields[f.apiName].label}</label>
                                                            <br/>
                                                            <apex:inputField value="{!lead[f.apiName]}" styleClass="{!If($ObjectType.Lead.fields[f.apiName].type !='boolean','slds-input','')}"/>
                                                            
                                                        </div>
                                                        <apex:outputPanel rendered="{!If(f.apiName != 'RecordTypeId' && $ObjectType.Lead.fields[f.apiName].type =='reference',true,false)}">
                                                            <div style="display:{!If(f.apiName != 'RecordTypeId' && $ObjectType.Lead.fields[f.apiName].type =='reference','block','none')}">
                                                                
                                                                <c:SLDSDynamicLookup id="fieldValue" SLDSResourceName="{!$Resource.rdcc__SLDS202}"
                                                                                     ObjectApiName="{!finalObjectMap[f.apiName]}" DisplayFieldApiNames="Name" DisplayFieldsPattern="Name"  
                                                                                     photo="" LabelName="{!$ObjectType.Lead.fields[f.apiName].label}" SetValueToField="{!lead[f.apiName]}" SetIdField="{!f.recordValue}"/>
                                                            </div>
                                                        </apex:outputPanel>
                                                    </div>   
                                                </div>
                                            </div>
                                        </div>
                                    </apex:repeat>
                                </div>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
                <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="top :70px; position:relative">
                    <div class="slds-form--stacked slds-grow">   
                        <div class="slds-panel__section ">
                            <h2 class="slds-section-title--divider">Description Information</h2>                            
                            <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                <div class="slds-form-element"> 
                                    <label class="slds-form-element__label" >Description</label>
                                    <div class="slds-form-element__control">                                        
                                        <apex:inputTextarea cols="60" rows="5" value="{!lead.Description}" styleClass="slds-textarea"/>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>                    
                </div>
                
                <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="margin-bottom: 58px;top :70px; position:relative">
                    <div class="slds-form--stacked slds-grow" style="margin-bottom: 50px;">
                        <div class="slds-panel__section " style="display:{!IF(defaultProjectFields.size>0,'block','none')}"> 
                            <h2 class="slds-section-title--divider">Project Information</h2>
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <apex:repeat value="{!defaultProjectFields}" var="field">                                    
                                    <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2" style="line-height: 1.3;">
                                        <div style="width:40%;float:left;margin-left:5px;padding:5px" >
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control">
                                                    <label class="slds-form-element__label" >{!$ObjectType.rdcc__ReedProject__c.fields[field].label}</label><br/>
                                                    <apex:outputField label="{!$ObjectType.rdcc__ReedProject__c.fields[field].label}" value="{!project[field]}" /><br/>                                                    
                                                </div><br/>     
                                            </div>
                                        </div>
                                    </div>
                                </apex:repeat>
                                
                                
                            </div>
                        </div>                        
                    </div>
                </div>
                
            </apex:outputPanel>
            
        </apex:outputpanel>
        
        <apex:outputpanel styleClass="slds">
            <div id="ModalId_classic" style="display:none">
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">
                            
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                                <div class="message errorM3" role="alert" id="pgmsg" style="opacity:1">
                                    <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                                        <tbody><tr valign="top">
                                            <td>
                                                <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                                            </td>
                                            <td class="messageCell"><div id="textId" class="messageText"><span id="msgtype" style="color:#cc0000">
                                                <h4>Error:</h4></span><span id="msg">{!errMsg}</span><br/></div>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                            
                            <apex:commandButton value="Ok" action="{!onCancel}"  style="width: 70px;margin-left: 10px;"/>                       
                        </div>
                    </div>                        
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
            
            <div id="ModalId_light" style="display:none">
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header slds-theme--error slds-theme--alert-texture">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 class="slds-text-heading--medium" id="prompt-heading-id">Service Unavailable</h2>
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">
                            <p>{!errMsg}</p>
                        </div>
                        <div class="slds-modal__footer slds-theme--default">
                            
                            
                            <apex:commandButton value="Ok" action="{!onCancel}"  styleClass="slds-button slds-button--neutral" style="width: 70px;margin-left: 10px;"/>                       
                            
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
            
            </apex:outputpanel>
        
        
        </html>
    </apex:form>
</apex:page>