<apex:page tabStyle="Opportunity" extensions="rdcc.NewOppFromProjectLightningController" standardController="rdcc__ReedProject__c" id="page" lightningStylesheets="true" sidebar="false" showHeader="false">
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/NewOpportunityFromProject_lightning.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}"/>
    <!-- Declare SessionId Variable For AJAX Toolkit -->
    <!--<script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
        
    </script>-->
    <apex:includeScript value="/soap/ajax/36.0/connection.js"/>
    <script>
        sforce.connection.sessionId = '{!$Api.Session_ID}'; 
        sforce.connection.serverUrl = '{!$Site.Prefix}/services/Soap/u/40.0';
    </script>
    <!-- Salesforce AJAX Toolkit Source -->
    <!--<script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script>    -->
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/NewOpportunityFromProject_lightning.js')}"/>
    <script>
    
    var previousOnload = window.onload;        
        window.onload = function() { 
            if (previousOnload) { 
                previousOnload();
            }
            init();
            
        }
        
        function init(){ 
           console.log('{!$User.UIThemeDisplayed}');
            var selectList = document.getElementsByTagName("select");
            if(selectList != null){
                for(var i=0;i<selectList.length;i++){
                    if(selectList[i].id.includes("_selected") || selectList[i].id.includes("_unselected")){
                        selectList[i].style += "max-width:200px !important;";
                    }                
                }            
            }
            var className = "picklistArrowLeft dummyRequired";
            var elements = document.getElementsByClassName("picklistArrowLeft");
            for(var i=0;i<elements.length;i++){
                elements[i].className = className; 
                elements[i].style.height = '20px';
                
            }
            className = "picklistArrowRight dummyRequired";
        elements = document.getElementsByClassName("picklistArrowRight");
        for(var i=0;i<elements.length;i++){
             elements[i].className = className; 
             elements[i].style.height = '20px';
        }
            //document.getElementById('searchInput').value="Nelco Mechanical Limited";
            //document.getElementById('page:csLightForm:hdnFieldAccLookup').value="a0W0B00000DZujaUAD";
        if('{!manualOppSetting}'== 'No')
           {
                if('{!$User.UIThemeDisplayed}' == 'Theme3')
                    document.getElementById("ModalId_classic").style.display = "block";
                else
                {
                  
                   document.getElementById("ModalId_light").style.display = "block";
                }
                
           }                       
           
        }
        function showSpinner(){
            document.querySelector("#lookupspinner #load_spinnerNew").style.display = 'block';           
        }
        function hideSpinner(){
            document.getElementById('load_spinnerNew').style.display = 'none';
        }
        function mapAccount(accId,accName){
            console.log(accId+' $$$$$ '+accName);
            document.getElementById('searchInput').value=accName;
            document.getElementById('page:csLightForm:hdnFieldAccLookup').value=accId;
        }
        
        function changeStageNameF(myVal){
         console.log(myVal);
         makechangetoStage(myVal);
        }
    function mergeMethod()
    {
        var accountid = document.querySelector('input[name="radioButton"]:checked').value;
        applyFltr(accountid);
        return false;
        
    }
    function showPopoupForMergeDisplayScreen()
    {
        document.getElementById("merge").style.display = "block";
    }  
    function hidePopoupForMergeDisplayScreen()
    {
        document.getElementById("merge").style.display = "none";
    } 
    function fillaccountvalue (){
    
    }
    </script>
     
    
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <input type="hidden" name="projectId" value="{!projectId}" id="projectId"/>
        
       
        
        <apex:form id="csLightForm"  styleClass="slds">
            <apex:outputPanel rendered="{!IF(manualOppSetting = 'Yes',true,false)}">
            <apex:inputHidden id="hdnFieldAccLookup" value="{!opp.AccountId}"/>
            
            <apex:actionFunction name="applyFltr1" action="{!accountIdAssignMethod}" rerender="abc" >
                <apex:param name="accid" value="" />
            </apex:actionFunction>
            
            <apex:actionFunction name="applyFltr" action="{!targetIdAssignMethod}" reRender="abc"  oncomplete="reRenderMergeComponent();">
                <apex:param name="targetid" value="" />
            </apex:actionFunction>
            
            <apex:actionFunction name="reRenderMergeComponent" reRender="merge1"  oncomplete="onloadMethod();showPopoupForMergeDisplayScreen();onComplete();" />
            
            <apex:actionRegion >
                <apex:actionFunction action="{!changeStageName}" name="makechangetoStage" reRender="{!$Component.csLightForm.probability}" >
                    <apex:param value="" assignTo="{!opp.StageName}" name="myVal"/>
                </apex:actionFunction>
            </apex:actionRegion> 
            
            
            <!--- merge screen ----->
            <apex:outputPanel id="merge1">  
                <div style="display:none;" id="merge">
                    <c:MergeScreen srcId="{!insCompId}" targId="{!targetId}" parntId="true" />
                </div>
            </apex:outputPanel>
            <!--- merge screen ----->
            
            
            <!--Spinner Start-->
            <div id="loading" style="display:none">
                <div id="loading-content">
                    <div role="status" class="slds-spinner slds-spinner--medium" id="spinner">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
            <!--Spinner End-->
            
            <!--Header Start-->
            <div class="slds-page-header slds-page-header--object-home slds-fixed-header">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container">
                                    <svg class="slds-icon slds-icon-standard-opportunity" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/standard-sprite/svg/symbols.svg#opportunity')}"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <p class="slds-text-title--caps slds-line-height--reset">{!opportunityLabel}</p>
                                <h1 class="slds-page-header__title slds-p-right--x-small">
                                    <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                        <span class="slds-truncate">New {!opportunityLabel}</span>
                                        <svg class="slds-button__icon slds-button__icon--right slds-no-flex" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/utility-sprite/svg/symbols.svg#down')}"></use>
                                        </svg>
                                    </span>        
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
                        <apex:outputPanel id="buttonGroup1">
                            <div class="slds-button-group" role="group">
                                <apex:commandButton rendered="{!IF(manualOppSetting == 'Yes' && !hasDuplicateResult,true,false )}" reRender="accountSection,dupPan,buttonGroup1,buttonGroup2" value="Save" id="oppButton1" action="{!createOpportunity}" onclick="onClick();" oncomplete="onComplete();overridePageMessagesAccount();" styleClass="slds-button slds-button--brand btn-border-radius"/>
                                <apex:commandButton value="Merge" onclick="onClick();return mergeMethod();" rendered="{!isDuplicateSaveAllowed}" styleClass="slds-button slds-button--neutral" />
                                <apex:commandButton value="Save (Ignore Alert)" action="{!forceSaveOpportunity}" rendered="{!isDuplicateSaveAllowed}" styleClass="slds-button slds-button--neutral" />
                                <apex:commandButton value="Cancel" action="{!onCancel}" styleClass="slds-button slds-button--neutral"/>
                            </div>
                        </apex:outputPanel>
                    </div>
                </div>
            </div>
                            
            <!--Header End-->
            <!--Footer Start-->
            <div class="slds-docked-form-footer">
                <apex:outputPanel id="buttonGroup2">
                    <div class="slds-button-group" role="group" style="float: right;margin-right: 23px;">
                        <apex:commandButton rendered="{!IF(manualOppSetting == 'Yes' && !hasDuplicateResult,true,false )}" reRender="accountSection,dupPan,buttonGroup1,buttonGroup2" value="Save" id="oppButton2" action="{!createOpportunity}"  onclick="onClick();" oncomplete="onComplete();overridePageMessagesAccount();" styleClass="slds-button slds-button--brand"/>
                        <apex:commandButton value="Merge" onclick="onClick();return mergeMethod();" rendered="{!isDuplicateSaveAllowed}" styleClass="slds-button slds-button--neutral" />
                        <apex:commandButton value="Save (Ignore Alert)" action="{!forceSaveOpportunity}" rendered="{!isDuplicateSaveAllowed}" styleClass="slds-button slds-button--neutral" />
                        <apex:commandButton value="Cancel" action="{!onCancel}" styleClass="slds-button slds-button--neutral"/>
                    </div>
                </apex:outputPanel>
            </div>
            <!--Footer End-->
            <!--Error Msg Start-->
           <apex:outputPanel id="dupPan">   
            <div id="msgDiv" style="margin-left:20px; margin-right:20px;margin-top:80px;">
                <apex:pageMessages id="pgMsg"></apex:pageMessages>
            </div>
            <!--Error Msg End-->
            <!--Duplicat start-->
                       
                <table class="slds-table slds-table--bordered slds-table--cell-buffer" style="top:10px;position:relative; display:{!IF (hasDuplicateResult,'','none')}">
                    <thead>
                        <tr class="slds-text-title--caps">
                            <th scope="col"></th>
                            <th scope="col">
                                <div class="slds-truncate" title="Account Name"><b>Account Name</b></div>
                            </th>
                            <!--th scope="col">
                                <div class="slds-truncate slds-medium-show" title="Phone"><b>Phone</b></div>
                            </th!-->
                            <th scope="col">
                                <div class="slds-truncate slds-medium-show" title="Account Owner"><b>Account Owner</b></div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate slds-medium-show" title="Last Modified Date"><b>Last Modified Date</b></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!duplicateRecords}" var="item" id="theRepeatrow">
                            <tr>
                                <th scope="row" data-label="Name">
                                    <input type="radio" name="radioButton" value="{!item['Id']}" onchange="mapAccount('{!item['Id']}','{!item['Name']}');" checked="checked"/>
                                </th>
                                <th scope="row" data-label="Name">
                                    <div class="slds-truncate" title="{!item['Name']}"><apex:outputLink value="/{!item['Id']}">{!item['Name']}</apex:outputLink></div>
                                </th>
                                <!--td data-label="Email">
                                    <div class="slds-truncate slds-medium-show" title="{!item['Phone']}"><apex:outputField value="{!item['Phone']}"/></div>
                                </td!-->
                                <td data-label="Owner">
                                    <div class="slds-truncate slds-medium-show" title="{!item['OwnerId']}"><apex:outputField value="{!item['OwnerId']}"/></div>
                                </td>
                                <td data-label="Last Modified Date">
                                    <div class="slds-truncate slds-medium-show" title="{!item['LastModifiedDate']}"><apex:outputField value="{!item['LastModifiedDate']}"/></div>
                                </td>
                            </tr>
                        </apex:repeat>                    
                    </tbody>
                </table>
            </apex:outputPanel>
            <!--Duplicat End-->
            <!--Opportunity Information Start-->
            <apex:outputPanel id="accountSection">
                <div  id="body2" class="slds-panel slds-grid slds-grid--vertical slds-nowrap"  style="width:100%;display:{!IF(isAccountHaveMandatoryFields,'block','none')}">                
                    <div class="slds-form--stacked slds-grow" >   
                        <div class="slds-panel__section ">
                            <h2 class="slds-section-title--divider">Account Required Information</h2>
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                            <apex:repeat value="{!accCustomMandatoryFieldMap}" var="mandField" >
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2" style="line-height: 1;">
                                    <div style="float:left;margin-left:5px;padding:5px" class="responsive-width">
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control">                                                    
                                                <div style="display:{!If($ObjectType.Account.fields[mandField].type !='reference','block','none')}">
                                                    <abbr class="slds-required" title="required" style="float:left;">*</abbr>
                                                    <label class="slds-form-element__label"> {!$ObjectType.Account.fields[mandField].label}</label><br/>
                                                    <apex:inputField value="{!acc[mandField]}"  required="false" styleClass="{!If($ObjectType.Account.fields[mandField].type !='boolean','slds-input','')}" />                                                    
                                                    
                                                </div>
                                            </div>  
                                        </div>
                                   
                                 </div>
                            </div>
                            </apex:repeat>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </apex:outputPanel>
            
            
            <div id="body1" class="slds-panel slds-grid slds-grid--vertical slds-nowrap"  style="margin-top:50px;width:100%;">                
                <div class="slds-form--stacked slds-grow" id="OpportunityEdit">   
                    <div class="slds-panel__section ">
                        <h2 class="slds-section-title--divider">{!opportunityLabel} Information</h2>
                        <div class="slds-grid slds-wrap slds-grid--pull-padded"> 
                            <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                                <div style="float:left;margin-left:5px;padding:5px" class="responsive-width">
                                    <div class="slds-form-element"> 
                                        <label class="slds-form-element__label" >{!opportunityLabel} Owner</label>
                                        <div class="slds-form-element__control">
                                            <apex:outputText label="{!opportunityLabel} Owner" value="{!$User.FirstName} {!$User.LastName}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                                <div style="float:left;margin-left:5px;padding:5px" class="responsive-width">            
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" >Private</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputCheckbox label="Private" value="{!isPrivate}" />
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                                <div style="float:left;margin-left:5px;padding:5px" class="responsive-width">
                                    <div class="slds-form-element" id="oppNameDiv">
                                        <abbr class="slds-required" title="required">*</abbr>
                                        <label class="slds-form-element__label" >{!opportunityLabel} Name</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputText html-autocomplete="off" label="{!opportunityLabel} Name" value="{!opp.Name}"  styleClass="slds-input"/>
                                        </div>                                 
                                    </div>
                                </div>
                            </div>
                           
                            <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                                <div style="float:left;margin-left:5px;padding:5px" class="responsive-width">
                                    <div class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
                                                <div class="slds-form-element">
                                                    <label class="slds-form-element__label" for="lookup-63">Account Name</label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-input-has-icon slds-input-has-icon--right">
                                                             <div class="slds-spinner_container" style="display:none;" id="load_spinnerNew">
                                                                <div class="slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                                                                    <div class="slds-spinner__dot-a"></div>
                                                                    <div class="slds-spinner__dot-b"></div>
                                                                </div>
                                                            </div>
                                                            <input id="searchInput" class="slds-input" type="text" placeholder="Search Companies" onfocus="searchDefault('{!$Resource.rdcc__SLDS202}');" onkeyup="searchOnType(j$(this),'{!$Resource.rdcc__SLDS202}')" 
                                                                   aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="SrchDrpDwn" onblur="hideDropDown();"/>
                                                            
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="slds-lookup__menu" role="listbox" id="SrchDrpDwn" style="display:none;">
                                                    <div class="slds-lookup__item">
                                                        <button class="slds-button" onclick="clearAllFields();return showFLSModal();">
                                                            <a href="#"><svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon--small">
                                                                <use xlink:href="{!$Resource.rdcc__SLDS202}/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                                                </svg>Add New Account</a>
                                                        </button>
                                                    </div>
                                                    <!--Search Results UL--> 
                                                    <ul class="slds-lookup__list" role="presentation" id="searchResultsUL" style="max-height: 240px;">        
                                                    </ul>                        
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <apex:repeat value="{!wrapperDefaultFieldList}" var="defaultField">

                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1" >
                                    <div style="float:left;margin-left:5px;padding:5px" class="responsive-width">
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control" style="display:{!IF(defaultField.apiName != 'OwnerId' && defaultField.apiName != 'AccountId' && defaultField.apiName != 'IsPrivate' && defaultField.apiName != 'Name' && defaultField.apiName != 'Name' && defaultField.apiName != 'LeadSource' && defaultField.apiName !='Type' && defaultField.apiName !='Description' && defaultField.apiName !='rdcc__project__c','block','none')}">
                                                <div style="display:{!If($ObjectType.Opportunity.fields[defaultField.apiName].type !='reference','block','none')}">
                                                    <abbr class="slds-required" title="required" style="float:left;">*</abbr>
                                                    <label class="slds-form-element__label"> {!$ObjectType.Opportunity.fields[defaultField.apiName].label}</label><br/>
                                                    <apex:inputField value="{!opp[defaultField.apiName]}"  required="false" styleClass="{!If($ObjectType.Opportunity.fields[defaultField.apiName].type !='boolean','slds-input','')}"/>
                                                </div>
                                                <apex:outputPanel rendered="{!IF($ObjectType.Opportunity.fields[defaultField.apiName].type =='reference',true,false)}">
                                                    <div style="display:{!If($ObjectType.Opportunity.fields[defaultField.apiName].type =='reference','block','none')}">
                                                        <abbr class="slds-required" title="required" style="float:left;">*</abbr>
                                                        <c:SLDSDynamicLookup id="fieldValue" SLDSResourceName="{!$Resource.rdcc__SLDS202}"
                                                                             ObjectApiName="{!finalObjectMap[defaultField.apiName]}" DisplayFieldApiNames="Name" DisplayFieldsPattern="Name"
                                                                             photo="" LabelName="{!$ObjectType.Opportunity.fields[defaultField.apiName].label}" SetValueToField="{!opp[defaultField.apiName]}" SetIdField="{!defaultField.recordValue}"/>
                                                    </div>
                                                </apex:outputPanel>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </apex:repeat>
                        </div>
                    </div>
                </div>
            </div>
            <!--Opportunity Information End-->
            <!--Additional Information Start-->
            <apex:outputPanel rendered="{!IF(wrapperList.size > 0,true,false)}">
                <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                    <div class="slds-form--stacked slds-grow">
                        <div class="slds-panel__section ">
                            <h2 class="slds-section-title--divider">Additional Information</h2>
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <apex:repeat value="{!wrapperList}" var="additionalField">

                                    <div style="display:{!IF(AND(additionalField.apiName !='StageName',additionalField.apiName !='Probability'),'block','none')}" class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                        <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control">
                                                    <div style="display:{!If($ObjectType.Opportunity.fields[additionalField.apiName].type !='reference' || additionalField.apiName == 'RecordType' || additionalField.apiName == 'RecordTypeId','block','none')}">
                                                        <abbr class="slds-required" title="required" style="display:{!If(finalRequiredMap[additionalField.apiName],'none','block')}; float:left;">*</abbr>
                                                        <label class="slds-form-element__label"> {!$ObjectType.Opportunity.fields[additionalField.apiName].label}</label><br/>
                                                        <apex:inputField value="{!opp[additionalField.apiName]}"  required="false" styleClass="{!If($ObjectType.Opportunity.fields[additionalField.apiName].type !='boolean','slds-input','')}"/>
                                                    </div>

                                                    <div style="display:{!If($ObjectType.Opportunity.fields[additionalField.apiName].type =='reference' && additionalField.apiName != 'RecordTypeId','block','none')}">
                                                        <c:SLDSDynamicLookup id="fieldValue" SLDSResourceName="{!$Resource.rdcc__SLDS202}"
                                                                             ObjectApiName="{!finalObjectMap[additionalField.apiName]}" DisplayFieldApiNames="Name" DisplayFieldsPattern="Name"
                                                                             photo="" LabelName="{!$ObjectType.Opportunity.fields[additionalField.apiName].label}" SetValueToField="{!opp[additionalField.apiName]}" SetIdField="{!additionalField.recordValue}"/>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </apex:repeat>

                                <div style="display:{!IF(isStageAvailable,'block','none')}" class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control">                                                    
                                                <div>
                                                    <abbr class="slds-required" title="required" style="display:{!If(finalRequiredMap['StageName'],'none','block')}; float:left;">*</abbr>
                                                    <label class="slds-form-element__label"> Stage</label><br/>
                                                    <apex:inputField value="{!opp.StageName}"  required="false" styleClass="slds-input" onchange="changeStageNameF(this.value);"/>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div style="display:{!IF(isProbabilityAvailable,'block','none')}" class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                    <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control">                                                    
                                                <div>
                                                    <abbr class="slds-required" title="required" style="display:{!If(finalRequiredMap['Probability'],'none','block')}; float:left;">*</abbr>
                                                    <label class="slds-form-element__label"> Probability(%)</label><br/>
                                                    <apex:inputField value="{!opp.probability}" id="probability" required="false" styleClass="slds-input"/>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
            <!--Additional Information End-->
            <!--Description Information Start-->
            <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                <div class="slds-form--stacked slds-grow">   
                    <div class="slds-panel__section ">
                        <h2 class="slds-section-title--divider">Description</h2>                            
                        <div style="width:80%;float:left;margin-left:5px;padding:5px" >
                            <div class="slds-form-element"> 
                                <label class="slds-form-element__label" >Description</label>
                                <div class="slds-form-element__control">                                        
                                    <apex:inputTextarea cols="60" rows="5" value="{!opp.Description}" styleClass="slds-textarea"/>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>                    
            </div>
            <!--Description Information End-->
            <!--Project Information Start-->
            <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap" style="margin-bottom: 50px;">
                <div class="slds-form--stacked slds-grow">
                    <div class="slds-panel__section" style="display:{!IF(defaultProjectFields.size>0,'block','none')}">
                        <h2 class="slds-section-title--divider">Insight Project Information</h2>
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                            <apex:repeat value="{!defaultProjectFields}" var="field">                                    
                                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2" style="line-height: 1;">
                                    <div style="width:40%;float:left;margin-left:5px;padding:5px" >
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control">
                                                <label class="slds-form-element__label" >{!$ObjectType.rdcc__ReedProject__c.fields[field].label}</label><br/>
                                                <apex:outputField label="{!$ObjectType.rdcc__ReedProject__c.fields[field].label}" value="{!project[field]}" /><br/>                                                    
                                            </div><br/>     
                                        </div>
                                    </div>
                                </div>
                            </apex:repeat>
                            
                                                            
                        </div>
                    </div>                        
                </div>
            </div>
            <!--Project Information End-->
       
        
        
        
        
        
        <!-- Page Layout Modal Starts Here!-->
        <apex:actionRegion >           
            <div id="pageLayoutModalId" style="display:none">
                <div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">                        
                        <div class="slds-modal__header">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" onclick="return hideFLSModal()">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use xlink:href="{!$Resource.rdcc__SLDS202}/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="header43" class="slds-text-heading--medium">Create Account</h2>
                        </div>
                        <div id="loadingAccount" style="display:none">
                            <div id="loading-content">
                                <div role="status" class="slds-spinner slds-spinner--medium" id="spinner">
                                    <span class="slds-assistive-text">Loading</span>
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">
                            <h3 class="slds-section-title--divider">Account Information</h3>
                            <div id="msgDivAccount" style="display:none;margin-left:20px; margin-right:20px;">
                                <apex:pageMessages id="pgMsgAccount"></apex:pageMessages>
                            </div>
                            <div class="slds-form--stacked">
                                <div class="slds-form-element">                                    
                                    <div class="slds-form-element__control" id="fieldsAccount">
                                        <apex:repeat value="{!$ObjectType.Account.FieldSets.rdcc__New_Account_On_Opp_Screen}" var="f" id="lstIterator">
                                            <abbr class="slds-required" title="required" style="display:{!If(f.label =='Account Name','block','none')}">*</abbr>
                                            <label class="slds-form-element__label" for="text-input-01">{!f.label}</label>
                                            <apex:inputField id="dynamicFields" value="{!acc[f]}" styleClass="slds-input" required="false"/>
                                        </apex:repeat>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="slds-modal__footer">
                            <button id="inputButton" class="slds-button slds-button--brand" onclick="onClickAccount();createNewAccount();return false;">Save</button>
                            <apex:actionFunction action="{!createAccount}" name="createNewAccount" reRender="pgMsgAccount"  oncomplete="overridePageMessagesAccount();onCompleteAccount('{!newlyCreatedAccId}');" />
                            <button class="slds-button slds-button--neutral" onclick="return hideFLSModal()">Cancel</button>                            
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
                            
        </apex:actionRegion>
        <!-- Page Layout Modal Ends Here!-->
        </apex:outputPanel>
            
            <div id="ModalId_classic" style="display:none">
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">
                            
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                                <div class="message errorM3" role="alert" id="pgmsg" style="opacity:1">
                                    <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                                        <tbody><tr valign="top">
                                            <td>
                                                <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                                            </td>
                                            <td class="messageCell"><div id="textId" class="messageText"><span id="msgtype" style="color:#cc0000">
                                                <h4>Error:</h4></span><span id="msg">{!errMsg}</span><br/></div>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                                                                                    
                            <apex:commandButton value="Ok" action="{!onCancel}"  style="width: 70px;margin-left: 10px;"/>                       
                        </div>
                    </div>                        
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
        
            <div id="ModalId_light" style="display:{!IF(AND(manualOppSetting == 'No',OR($User.UIThemeDisplayed  == 'Theme4d',$User.UIThemeDisplayed== 'Theme4t')), 'block', 'none')}" >
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                    <div class="slds-modal__header slds-theme--error slds-theme--alert-texture">
                      <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close">
                        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                      </button>
                      <h2 class="slds-text-heading--medium" id="prompt-heading-id">Service Unavailable</h2>
                    </div>
                    <div class="slds-modal__content slds-p-around--medium">
                      <p>{!errMsg}</p>
                    </div>
                    <div class="slds-modal__footer slds-theme--default">

                                                                                                    
                    <apex:commandButton value="Ok" action="{!onCancel}"  styleClass="slds-button slds-button--neutral" style="width: 70px;margin-left: 10px;"/>                       
                                      
                    </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
           
        </apex:form>
        <script>
           overridePageMessages();
        </script>
    </html>
</apex:page>