<apex:page showHeader="false" standardStylesheets="false" sidebar="false"  docType="html-5.0">
<html>
<head>
<title>Pentair ROI Calculator</title>
<style>
label{color: #0c3471;}
.questionMark{
    font-size: 12px;
    background-color: black;
    color: white;
    border-radius: 9px;
}
.questionMarkText{
    position: absolute;
    margin-top: -14px;
    margin-left: 4px;
    background-color: lightgrey;
    width: 15%;
    text-align: center;
    display:none;
}
#range
{
    position:absolute;
    height:100%;
    top: 0;
    border-radius:7px;
    background:green;
}

</style>

<apex:includeScript value="{!URLFOR($Resource.PentairResource, 'Pentair_Resource/js/hubspot.json')}"/> 
<apex:includeScript value="{!URLFOR($Resource.PentairResource, 'Pentair_Resource/js/jquery.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.PentairResource, 'Pentair_Resource/js/jquery-ui.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.PentairResource, 'Pentair_Resource/js/calculator.js')}"/>
<!-- <apex:includeScript value="{!URLFOR($Resource.PentairResource, 'Pentair_Resource/js/jquery-ui.css')}"/> -->
<apex:stylesheet value="{URLFOR($Resource.PentairResource, 'Pentair_Resource/js/jquery-ui.css')}"/>


<script type="text/javascript">
                    $(document).ready( function() {
   
                        $("#slider").slider({
                        min: 0,
                        max: 0,
                        step: 1,
                        value: 0,
                        slide: function( event, ui ) {
                        $("#conduitNo").val(ui.value);
                            console.log(ui);
                            console.log(event);
                        }
                        });
                        var initialValue = $("#slider").slider("option", "value");
                        $("#conduitNo").val(initialValue);
                    });
</script>


</head>
<body style="margin:0">
<div style="background-color:#e8eef1;">
    <span> <apex:image url="{!URLFOR($Resource.PentairResource, 'Pentair_Resource/images/logo1.png')}" style="height:35px;margin-left:25%;" /></span><span><label style="float: right;margin-top: 0.5%;margin-right: 23%;font-size:16px;">Angled Trough</label></span> 
</div>
<div>
<div style="margin-left:43%;font-size: 28px;margin-top: 0.3%;"><label>Cost Saving Calculator</label></div>
<div style="font-size: 17px;margin-top: 0.2%;margin-left:25%;width:52%;"><label>Pentair ROI calculator highlights the time savings and cost effectiveness which you can achieve in your projects</label></div>
</div>
<div style="width: 52%; border: 1px solid;margin-top:1%;border-radius:10px;margin-left:25%;">
<div style="margin-left: 2%;margin-top:4%;"><label style="font-size: 20px;font-weight: 600">Provide your inputs</label></div>
        <div style="margin-left: 5%;margin-top: 2%;margin-bottom: 2%;">
            <div style="width:50%;display:inline;">
                <label>Size of trough used&nbsp;&nbsp;</label><span class="questionMark" id="qstnMark1">&#10067; </span>
                <span class="questionMarkText" id="size">Select the  size of trough</span>
            </div>
            <div style="width:50%;display:inline;margin-left: 45%">
                <select name="troughSize" id="troughSize" style="width:25%" >
                <option value="">---Select--- </option>
                <option value="6x6x12">6x6x12</option>
                <option value="6x6x18">6x6x18</option>
                <option value="6x6x24">6x6x24</option>
                <option value="6x6x36">6x6x36</option>
                <option value="6x6x48">6x6x48</option>
                <option value="6x6x60">6x6x60</option>
                <option value="6x6x72">6x6x72</option>
                <option value="8x8x24">8x8x24</option>
                <option value="8x8x36">8x8x36</option>
                <option value="8x8x48">8x8x48</option>
                <option value="8x8x60">8x8x60</option>
                <option value="8x8x72">8x8x72</option>
                <option value="10x10x24">10x10x24</option>
                <option value="10x10x36">10x10x36</option>
                <option value="10x10x48">10x10x48</option>
                <option value="12x12x24">12x12x24</option>
                <option value="12x12x36">12x12x36</option>
                <option value="12x12x48">12x12x48</option>
                <option value="12x12x60">12x12x60</option>
                <option value="12x12x72">12x12x72</option>
            </select>
            </div>
        </div>
        <div style="margin-left: 5%;margin-top: 2%;margin-bottom: 2%;">
            <!-- <div id="slider" style="width:30%;font-size:11px"></div> -->
            <div style="width:50%;"><label>Total no. of conduit per trough&nbsp;&nbsp;</label><span class="questionMark">&#10067;</span><span class="questionMarkText">Maximum conduct bends required</span></div>
            <div id="slider" style="width:38%;font-size:11px;margin-top:3px;border-radius:7px;"><div id="range"></div></div>
            <div style="width:50%;display:inline;margin-right:14px;float:right;"><span> <input type="text" id="conduitNo" style="margin-left: 38%;width: 50%;margin-top:-18px" /></span></div>
            
        </div>
        <div style="margin-left: 5%;margin-top: 2%;margin-bottom: 2%;">
            <div style="width:50%;display:inline;"><label>Total no. of trough needed per project&nbsp;&nbsp;</label><span class="questionMark">&#10067;</span><span class="questionMarkText">Number of required trough</span></div>
            <div style="width:50%;display:inline;"><span> <input type="text" id="troughNeedPerProject" style="margin-left:27%;width:25%;" /></span></div>
        </div>
        <div style="margin-left: 5%;margin-top: 2%;margin-bottom: 2%">
            <div style="width:50%;display:inline;"><label>Labor rate/hour&nbsp;&nbsp;</label><span class="questionMark">&#10067;</span><span class="questionMarkText" id="labour">Labour cost per hour</span></div>
            <div style="width:50%;display:inline;"><span><input type="text" id="laborRate" style="margin-left:48%;width:25%;" /></span></div>
        </div>
        <div style="margin-left: 60%;margin-bottom: 2%">
            <span><input type="reset" value="Reset" style="background-color: #0C3471;width: 105px;color: #FFFFFF;border-color:#0C3471;height: 25px" onclick="resetROI();" /></span>
            <span  style="margin-left:6%;"><input type="submit" value="Calculate" onclick="calculateROI();" style="background-color: #0C3471;width: 105px;color: #FFFFFF;border-color:#0C3471;height: 25px" /></span>
        </div>
        <div style="border:1px solid #bfc3c5"></div>
        <div style="width: 43%;background-color: #e8eef1;margin-top: 4%;margin-left: 4%;border-radius: 12px">
            <div style="padding:8px"><label>Total Savings on Conduit bend(Hour)</label></div>
            <div style="margin-left: 6%;font-size: 42px;color: #0c3471" ><span id="totSaving">0</span></div>
        </div>
        <div style="width: 44%;background-color: #e8eef1;margin-top:-12%;margin-right:4%;border-radius:12px;float:right;">
            <div style="padding:8px"><label>Typical Trough Average Price</label></div>
            <div style="margin-left: 6%;font-size: 42px;color: #0c3471" id="avgPrice">$ 0.00</div>
        </div>
        <div style="width: 43%;background-color: #e8eef1;margin-top: 4%;margin-left: 4%;border-radius: 12px">
            <div style="padding:8px"><label>Cost Savings on Conduit bend</label></div>
            <div style="margin-left: 6%;font-size: 42px;color: #0c3471"  id="savingsOnConduitBend">$ 0.00</div>
        </div>
        <div style="width: 44%;background-color: #e8eef1;margin-top:-12%;margin-right:4%;border-radius:12px;float:right;">
            <div style="padding:8px"><label>AT Average Price</label></div>
            <div style="margin-left: 6%;font-size: 42px;color: #0c3471" id="atAvgPrice">$ 0.00</div>
        </div>
        <div style="width: 43%;background-color: #e8eef1;margin-top: 4%;margin-left: 4%;border-radius: 12px">
            <div style="padding:8px"><label>Total Savings</label></div>
            <div style="margin-left: 6%;font-size: 42px;color: green" id="totSavingPerc"><b>$ 0.00</b></div>
        </div>
        <div style="width: 44%;background-color: #e8eef1;margin-top:-12%;margin-right:4%;border-radius:12px;float:right;">
            <div style="padding:8px"><label>Saving %</label></div>
            <div style="margin-left: 6%;font-size: 42px;color: green" id="savingsPerc"><b>0 %</b></div>
        </div>
        <div style="margin-left: 80%;margin-top: 3%;margin-bottom:2%;"><input type="button" value="Contact Us" style="background-color: #0C3471;width: 105px;color: #FFFFFF;border-color:#0C3471;height: 25px;" /> </div>
    </div>
    
</body>

</html>
</apex:page>