<apex:page standardController="SDOC__SDoc__c" extensions="SDOC.SDTemplateController" showheader="false"
contentType="application/vnd.ms-powerpoint" cache="true" standardStylesheets="false">
<head>
<c:SDTemplateCSSComponent />
<apex:styleSheet value="{!URLFOR($Resource.SDOC__SDoc,'SDoc.css')}" /> 
</head>
<c:SDXMLComponent ></c:SDXMLComponent>

</apex:page>