<apex:page standardController="SDOC__SDoc__c" extensions="SDOC.SDTemplateController" showHeader="false"
contentType="text/html" standardStylesheets="false" cache="true" applyBodyTag="false">
<head>
<c:SDTemplateCSSComponent />
<apex:styleSheet value="{!URLFOR($Resource.SDOC__SDoc,'SDoc.css')}" />
</head>
<c:SDXMLComponent ></c:SDXMLComponent>
</apex:page>