<apex:page controller="SDOC.SDCreateController" 
tabStyle="SDOC__SDTemplate__c" standardstylesheets="true"
sidebar="{!sidebar}"
action="{!initStep1}">

<!-- Must be included to use sforce.console.isInConsole() -->
<!-- Use version 30.0; isInConsole() doesn't work on version 40.0 -->
<apex:includeScript value="/support/console/30.0/integration.js"/>

<script type="text/javascript">
// Hide Salesforce header if showheader=false is included in URL
var getQueryParamIfNotNull = function(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var hideHeader = function() {
  var salesforceHeader = document.getElementById('AppBodyHeader');
  if (salesforceHeader !== null) {
    salesforceHeader.style.display = 'none';
  }
}

var showHeader = 'true';
showHeader = getQueryParamIfNotNull('showHeader') || getQueryParamIfNotNull('showheader');
if (showHeader === 'false' || showHeader === '0') {
    hideHeader();
}
// End "Hide Salesforce header if showheader=false is included in URL"

// Hide Salesforce header if user is invoking S-Docs from Sales Console.
// This is finnicky as there are reported bugs with sforce.console.isInConsole();
// if this is the case, have the user include &showHeader=false in their S-Docs button. 
if (sforce.console.isInConsole()) {
    hideHeader();
}

var AgreementForm = document.getElementById("blur");
var ContainerElem = document.getElementById("StatusBox");
AlignToCenter(ContainerElem);
function AlignToCenter(Element)
{
var availableHeight = 0;
var availableWidth = 0;
if (Element.ownerDocument)
{
var docElement = Element.ownerDocument.documentElement;
availableHeight = parseInt(docElement.clientHeight);
if (availableHeight == "NaN") availableHeight = 0;

availableWidth = parseInt(docElement.clientWidth);
if (availableWidth == "NaN") availableWidth = 0;
}

if (availableHeight == 0 || availableHeight == "NaN")
availableHeight = window.screen.availHeight - 200;
if (availableWidth == 0 || availableWidth == "NaN")
availableWidth = window.screen.availWidth - 100;

var msgBoxTop = parseInt((availableHeight - parseInt(Element.clientHeight))/2);
var msgBoxleft = parseInt((availableWidth - parseInt(Element.style.width))/2);

if (msgBoxTop == "NaN" || msgBoxTop == 0)
msgBoxTop = 100;

Element.style.left = msgBoxleft + "px";
Element.style.top = msgBoxTop + window.pageYOffset + "px";
}

function reposition(){
if(navigator.appName == 'Window Internet Explorer') AgreementForm.style.top = document.body.scrollTop;
else AgreementForm.style.top = window.pageYOffset+"px";
//AlignToCenter(ContainerElem);
}
</script>
<apex:actionStatus id="statLoad">
    <apex:facet name="start">
        <div id="blur" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.7;filter:alpha(opacity=70)">
        </div>
        <div id="StatusBox" style="position:absolute; left:50%; top:300px; width: 120px; height:50px; opacity:1;filter:alpha(opacity=100)">
        <table border="1" cellpadding="0" cellspacing="0" style="border-left-color: #336699;
        border-bottom-color: #336699; width: 120px; border-top-color: #336699; height:50px;
        border-right-color:#336699; background-color:#ffffff;">
        <tr>
        <td align="left" valign="top">
        <table border="0" cellpadding="4" cellspacing="0" style="width: 100%; height: 100%">
        <tr>
        <td style="border-bottom-color:#336699; border-bottom-width:0px; border-bottom-style:solid;vertical-align:middle;">
        <img src="{!URLFOR($Resource.SDoc,'spinner_large.gif')}"/></td>
        <td style="border-bottom-color:#336699; border-bottom-width:0px; border-bottom-style:solid;vertical-align:middle;color:darkred;font-size:11pt;font-weight:bold;">
        &nbsp;Loading...</td>
        </tr>
        </table>
        </td>
        </tr>
        </table>
        </div>
    </apex:facet>
</apex:actionStatus>

<apex:sectionHeader title="Create S-Docs" subtitle="Generate Documents"/>
<apex:form >
<script type="text/javascript">
      function doSearch() {
        searchServer(
          document.getElementById("{!$Component.searchText2}").value,
          document.getElementById("{!$Component.searchcategories}").options[document.getElementById("{!$Component.searchcategories}").selectedIndex].value
          );
      }
      </script> 

      <apex:actionFunction name="searchServer" action="{!initStep1}" rerender="panel3g" status="panel3gStatus">
          <apex:param name="txtValue" value=""/>
      </apex:actionFunction>  
      
<apex:pageMessages />
        <apex:outputPanel id="backnav" rendered="{!$User.UIThemeDisplayed !='Theme4t'}">
            <span class="style6">&lt;&lt;</span>
        <apex:commandLink action="{!returnToObj}" value="Back"/> 
    </apex:outputPanel>
<br></br><br></br>
                <apex:panelGroup >
                     <apex:outputLabel for="searchcategories">Search in &nbsp;</apex:outputLabel>
                     <apex:selectList id="searchcategories" size="1" value="{!docCategory}">
                        <apex:selectOptions value="{!docCategories}"/>
                        <apex:actionSupport event="onchange"  action="{!initStep1}" rerender="panel3g" status="panel3gStatus"/>
                    </apex:selectList>
                    <apex:outputLabel for="searchText2"> for : &nbsp;</apex:outputLabel>
                        <apex:inputText id="searchText2" value="{!searchText2}" onkeyup="doSearch();"/>
                        <apex:commandButton value="Search" action="{!initStep1}" rerender="panel3g" status="panel3gStatus">
                            <apex:param name="txtValue" value="{!searchText2}"/>
                        </apex:commandButton>
                    <apex:actionStatus id="panel3gStatus">
                        <apex:facet name="start">
                            <img src="{!URLFOR($Resource.SDoc,'spinner.gif')}" /> searching...
                        </apex:facet>
                    </apex:actionStatus>
                </apex:panelGroup>
<br></br><br></br>
<apex:pageBlock title="Select Document(s) then click the 'Next Step' button">
<table width="100%">
<tr valign="top">
<td> 
    <apex:pageBlockSection columns="1" collapsible="false">
            <apex:pageBlockSectionItem >
                <apex:panelGroup id="panel3g">
                    <apex:outputText >&nbsp;&nbsp;&nbsp;&nbsp;
                         <img src="{!URLFOR($Resource.SDoc,'checkbox_arrow.png')}" />
                        <apex:commandButton action="{!step2}" value="{!btnTxtStep2}" styleClass="btn"/>
                    </apex:outputText>
                    <apex:outputpanel style="overflow:scroll;height:250px;" layout="block">
                    <apex:pageBlockTable value="{!docsList}"  var="c" rendered="{!NOT(ISNULL(docsList))}">
                        <apex:column width="25px">
                            <apex:inputCheckbox value="{!c.checked}">
                            <apex:actionsupport event="onclick" action="{!addDoc}" rerender="panel4g" status="statLoad" />
                            </apex:inputCheckbox>
                        </apex:column>
                        <apex:column headerValue="Name"><img src='{!c.formatIconImgSrc}' border='0' />
                        &nbsp;&nbsp;<apex:outputText value="{!c.t.Name}"/></apex:column>
                        <apex:column value="{!c.t.SDOC__Description__c}" headerValue="Description"/>
                    </apex:pageBlockTable>
                    </apex:outputpanel> 
                    <apex:outputText rendered="{!recordCount>99}">
                        <b>[More Available - Use Search criteria to limit results]</b>
                    </apex:outputText>
                </apex:panelGroup>
            </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
</td><td></td>
<td>
    <apex:panelGroup id="panel4g">
        <apex:pageBlockSection title="Selected Documents" columns="1" collapsible="false" rendered="{!hasSelectedDocs}">
             <apex:pageBlockSectionItem >
                    <apex:pageBlockTable value="{!selectedDocs}" var="ca" columnsWidth="50px, *" cellpadding="0" cellspacing="0">
                        <apex:column headerValue="Remove">
                                <apex:commandLink value="X" action="{!removeDoc}" styleClass="btn" rerender="panel4g, panel3g" status="panel4Status">
                                    <apex:Param name="tid" value="{!ca.t.ID}" />
                                </apex:commandLink>
                        </apex:column>
                        <apex:column width="25px" headerValue="Create Task">
                            <apex:inputCheckbox value="{!ca.taskCreate}" rendered="{!ca.t.SDOC__Task_Auto_Create__c}"
                                         disabled="{!ca.t.SDOC__Task_Auto_Create_Default__c=='Checked2'}">
                                    <apex:actionsupport event="onclick" action="{!addDoc}" rerender="panel4g, panel3g" status="panel4Status" />
                            </apex:inputCheckbox>
                            <apex:outputPanel rendered="{!ca.t.SDOC__Task_Auto_Create_Default__c=='Checked2'}">
                                <img src='/img/func_icons/util/lock12.gif'/>
                            </apex:outputPanel>
                        </apex:column>
                        <apex:column headerValue="Name"><img src='{!ca.formatIconImgSrc}' border='0' />
                        &nbsp;&nbsp;<apex:outputText value="{!ca.t.Name}"/></apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:panelGroup>
    <apex:actionStatus id="panel4Status">
        <apex:facet name="start">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{!URLFOR($Resource.SDoc,'spinner.gif')}" /> updating...
        </apex:facet>
    </apex:actionStatus>    
</td>
</tr>
<tr>
    <td width="65%"></td>
    <td width="5%"></td>
    <td width="30%"></td>
</tr>
</table>
&nbsp;&nbsp;&nbsp;&nbsp;
<apex:commandButton action="{!step2}" value="{!btnTxtStep2}" styleClass="btn"/>
</apex:pageBlock>

</apex:form>
</apex:page>