<apex:page standardStylesheets="true" applyBodyTag="false" docType="html-5.0" standardController="Opportunity">
    <apex:slds />
    <div class="slds-scope slds-form-element">
        <apex:form >
            <table>
                <tr>
                    <td style="width:15%;text-align:right;">
                                   
                    </td>
                    <td>
                        <div style="text-align:right;">
                            <apex:commandButton action="{!save}" value="Save" styleClass="slds-button slds-button_brand" />
                        </div>
                        <br/ >
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align:right;">
                             <b><label class="slds-form-element__label" for="text-input-id-1">Action Plan</label></b>        
                    </td>
                    <td>
                        <apex:inputField value="{!Opportunity.Action_Plan__c}" styleClass="slds-input" style="height:100px;"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align:right;">
                        <b><label class="slds-form-element__label" for="text-input-id-1">Current Situation</label></b>
                    </td>
                    <td>
                        <apex:inputField value="{!Opportunity.Current_Situation__c}" styleClass="slds-input" style="height:100px;"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:15%;text-align:right;">
                        <b><label class="slds-form-element__label" for="text-input-id-1">Timeline</label></b>
                    </td>
                    <td>
                        <apex:inputField value="{!Opportunity.Timeline__c}" styleClass="slds-input" style="height:100px;"/>
                    </td>
                </tr>
            </table>
    </apex:form>
    </div>
</apex:page>