<template>
    <template if:true={isObsolete}>
        <lightning-icon variant="warning" icon-name="utility:warning"></lightning-icon>
    </template>
    <template if:false={isObsolete}>
        <img src={imageUrl}>
    </template>
</template>