<template>
    <template if:false={isObsolete}>
        <template if:true={showDropdown}>
            <select name="quantity" onchange={handleChange}>
                <template for:each={options} for:item="option">
                    <option key={option.label} selected={option.selected} value={option.value}>{option.value}</option>
                </template>
            </select>
        </template>
        <template if:false={showDropdown}>
            {quantityTransformed}
        </template>
        <!-- slds-hide -->
        <div class="slds-hide">
            {quantityTransformed}
        </div>
    </template>
    <template if:true={isObsolete}>
        {quantityTransformed}
    </template>
</template>