<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-4">
            <h2 class="slds-m-bottom_small">
                {labels.headerGreeting} {name}
            </h2>
            <div class="slds-m-bottom_small nvent-text_muted">
                {labels.headerMessage}
            </div>
        </div>
        <!-- <div class="slds-col_bump-left"></div>
        <div class="slds-col slds-grid slds-wrap slds-size_1-of-1 slds-medium-size_1-of-4 slds-text-align_center">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-m-bottom_small">
                <h2 class="slds-m-bottom_small">
                    {orderCount}
                </h2>
                <div class="nvent-text_muted">
                    {labels.headerOrders}
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-m-bottom_small">
                <h2 class="slds-m-bottom_small">
                    {wishlistCount}
                </h2>
                <div class="nvent-text_muted">
                    {labels.headerFavorites}
                </div>
            </div>
        </div> -->
    </div>
</template>