<!--
 - Created by might on 5/13/2020.
 -->

<!-- imageColumn -->
<template>
    <c-x7s-cart-table-image-column cart-row-id={typeAttributes.Id} image-id={typeAttributes.image}>
    </c-x7s-cart-table-image-column>
</template>