<template>
    <c-x7s-cart-table-price-column list-price={typeAttributes.listPrice} net-price={typeAttributes.netPrice}
                                   cart-row-id={typeAttributes.Id}>
    </c-x7s-cart-table-price-column>
</template>