<template>
    <c-x7s-cart-table-quantity-column cart-row-id={typeAttributes.itemNumber}
                                      cart-row-quantity={typeAttributes.quantity}>
    </c-x7s-cart-table-quantity-column>
</template>