<!--
 - Created by might on 5/18/2020.
 -->

<!-- subtotalColumn -->
<template>
    <c-x7s-cart-table-subtotal-column subtotal={typeAttributes.subtotal} net-price={typeAttributes.netPrice}
                                      quantity={typeAttributes.quantity}>
    </c-x7s-cart-table-subtotal-column>
</template>