<!--
 - Created by might on 5/13/2020.
 -->

<template>
  <template if:true={showEmptyState}>
    <div class="slds-text-align_center slds-text-heading_medium slds-p-around_small">
      <p>{labels.emptyDatatableMessage}</p>
    </div>
  </template>

  <template if:true={showObsoleteProductCard}>

    <article class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <lightning-icon alternative-text={labels.obsoleteProductsInfoMessageLabel}
              title={labels.obsoleteProductsInfoMessageLabel} icon-name="utility:warning" variant="warning">
            </lightning-icon>
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <div class="slds-card__header-link slds-truncate">
                {labels.obsoleteProductsLabel}
              </div>
            </h2>
          </div>
          <div class="slds-no-flex">
            <lightning-button variant="brand-outline" label={labels.cleanMyCart} onclick={handleCleanCart}>
            </lightning-button>
          </div>
        </header>
      </div>
      <div class="slds-card__body slds-card__body_inner">
        <p class="slds-p-vertical_small">{labels.obsoleteProductsMessageLabel}</p>
        <ul class="slds-has-dividers_bottom slds-has-block-links_space">
          <template for:each={obsoleteProductsList} for:item='product' for:index="index">
            <li class="slds-item" key={product.productSkuCode}>{product.productSkuCode}</li>
          </template>
        </ul>
      </div>
    </article>
  </template>

  <template if:false={showEmptyState}>
    <div style="position: relative;">
      <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
      </template>

      <template if:true={showCloneCartButton}>
        <div class="slds-grid slds-grid_align-end slds-m-vertical_small">
          <div class="slds-text-align_right slds-size_1-of-1 slds-large-size_1-of-2">
            <lightning-button variant="brand" label={labels.cloneCart} title={labels.cloneCart}
              onclick={handleCloneCartModal}></lightning-button>
          </div>
        </div>
      </template>

      <template if:true={showShareCartButton}>
        <div class="slds-grid slds-grid_align-end slds-m-vertical_small">
          <div class="slds-text-align_right slds-size_1-of-1 slds-large-size_1-of-2">
            <lightning-button variant="brand" label={labels.shareCartLabel} title={labels.shareCartLabel}
              onclick={handleShareCart}></lightning-button>
          </div>
        </div>
      </template>

      <template if:true={showSearchBar}>
        <div class="slds-grid slds-grid_align-end slds-m-vertical_small">
          <div class="slds-text-align_right slds-size_1-of-1 slds-large-size_1-of-2">
            <lightning-input placeholder={searchPlaceholderLabel} variant="label-hidden" type="search"
              label={labels.datatableSearch} onchange={filterDataTable}>
            </lightning-input>
          </div>
        </div>
      </template>

      <c-x7s-data-table class="nvent-cart" key-field="id" data={data} columns={columns} sorted-by={sortedBy}
        sorted-direction={sortedDirection} default-sort-direction="desc" onsort={doSorting} hide-checkbox-column
        ondelete={doDelete} onupdatequantity={doUpdateQuantity} onrowaction={handleRowAction} column-widths-mode="auto"
        resize-column-disabled>
      </c-x7s-data-table>

    </div>
  </template>

  <template if:false={showEmptyState}>
    <template if:true={showHelpText}>
      <p class="slds-p-around_small">{labels.legalText}</p>
    </template>
  </template>

  <!-- Share Cart Modal -->
  <template if:true={showShareCartModal}>
    <section role="dialog" tabindex="-1" aria-labelledby="share-cart-modal-heading" aria-modal="true"
      aria-describedby="share-cart-modal-id" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <template if:true={showSpinnerModal}>
          <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title={labels.closeModal} onclick={closeShareCartModal}>
            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
            </lightning-icon>
            <span class="slds-assistive-text">{labels.closeModal}</span>
          </button>
          <h2 id="share-cart-modal-heading" class="slds-text-heading_medium slds-hyphenate">
            {labels.shareCartLabel}
          </h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="share-cart-modal-id">
          <p>{labels.shareCartMessage}</p>
          <lightning-input required value={shareEmail} onchange={handleShareEmailChange}
            message-when-bad-input={labels.missingEmail} message-when-type-mismatch={labels.missingEmail}
            message-when-value-missing={labels.missingEmail} message-when-pattern-mismatch={labels.missingEmail}
            type="email" name={labels.email} label={labels.email} placeholder={labels.email}>
          </lightning-input>
        </div>
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" onclick={closeShareCartModal} title={labels.cancel}>
            {labels.cancel}
          </button>
          <button class="slds-button slds-button_brand" onclick={executeShareCart} title={labels.sendEmail}>
            {labels.sendEmail}
          </button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <!-- Product Components Modal -->
  <template if:true={showComponentsModal}>
    <section role="dialog" tabindex="-1" aria-labelledby="components-modal-heading" aria-modal="true"
      aria-describedby="components-modal-id" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <template if:true={showSpinnerModal}>
          <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title={labels.closeModal} onclick={closeComponentsModal}>
            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
            </lightning-icon>
            <span class="slds-assistive-text">{labels.closeModal}</span>
          </button>
          <h2 id="components-modal-heading" class="slds-text-heading_medium slds-hyphenate">
            <template if:true={currentProductComponent.zipUrl}>
              <a href={currentProductComponent.zipUrl} title={productNameComponentModal} target="_blank">
                {productNameComponentModal}
              </a>
            </template>
            <template if:false={currentProductComponent.zipUrl}>
              {productNameComponentModal}
            </template>
          </h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="components-modal-id">
          <p>
            {productComponentModalFormattedMessage}
          </p>
          <br />
          <template if:true={currentProductComponent.copyUrl}>
            <p>{labels.nVent_DataTable_Components_Modal_Copy_Message}</p>
            <br />
          </template>
          <template if:true={currentProductComponent.modifyUrl}>
            <p>{labels.nVent_DataTable_Components_Modal_Modify_Message}</p>
            <br />
          </template>
          <div style="position:relative; width:100%">
            <c-x7s-data-table class="nvent-cart" key-field="id" data={components} columns={componentColumns}
              hide-checkbox-column column-widths-mode="auto" resize-column-disabled>
            </c-x7s-data-table>
          </div>
        </div>
        <footer class="slds-modal__footer">
          <template if:true={currentProductComponent.copyUrl}>
            <a href={currentProductComponent.copyUrl} class="slds-button slds-button--brand slds-text-color_inverse" title="Copy" target="_blank">
              Copy
            </a>
          </template>
          <template if:true={currentProductComponent.modifyUrl}>
            <a href={currentProductComponent.modifyUrl} class="slds-button slds-button--brand slds-text-color_inverse" title="Modify" target="_blank">
              Modify
            </a>
          </template>
          <button class="slds-button slds-button_neutral" onclick={closeComponentsModal} title="Cancel">
            {labels.closeModal}
          </button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <!-- Clone Cart Modal -->
  <template if:true={showCloneCartModal}>
    <section role="dialog" tabindex="-1" aria-labelledby="clone-cart-modal-heading" aria-modal="true"
      aria-describedby="clone-cart-modal-id" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <template if:true={showSpinnerModal}>
          <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title={labels.closeModal} onclick={closeCloneCartModal}>
            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
            </lightning-icon>
            <span class="slds-assistive-text">{labels.closeModal}</span>
          </button>
          <h2 id="clone-cart-modal-heading" class="slds-text-heading_medium slds-hyphenate">
            {labels.cloneCart}
          </h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="clone-cart-modal-id">
          {labels.cloneWarningMessage}
        </div>
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" onclick={closeCloneCartModal} title="Cancel">
            {labels.cancel}
          </button>
          <button class="slds-button slds-button_brand" onclick={executeCloneCart} title="Continue">
            {labels.continueLabel}
          </button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>