<template>
  <template if:true={showListPrice}>
    <lightning-formatted-number class={strikeThroughClass} value={listPrice} format-style="currency" currency-code={currencyCode}>
    </lightning-formatted-number>
  </template>
  <template if:true={showNetPrice}>
    <strong>
      <lightning-formatted-number class={strikeThroughClass}  value={netPrice} format-style="currency" currency-code={currencyCode}>
      </lightning-formatted-number>
    </strong>
  </template>
  <template if:true={showTotalAmount}>
    <lightning-formatted-number class={strikeThroughClass}  value={totalAmount} format-style="currency" currency-code={currencyCode}>
    </lightning-formatted-number>
  </template>
</template>