<template>
    <template if:true={listPrice}>
        <lightning-formatted-number value={listPrice} format-style="currency"
                                    currency-code={currencyCode}></lightning-formatted-number>
    </template>
    <template if:true={netPrice}>
        <lightning-formatted-number value={netPrice} format-style="currency"
                                    currency-code={currencyCode}></lightning-formatted-number>
    </template>
</template>