<template>
    <!-- <c-x7s-data-table key-field="id" data={data} columns={columns}>
    </c-x7s-data-table> -->

    <div style="position: relative;">
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
        </template>

        <c-x7s-datatable-utility class="nvent-cart" key-field="id" data={data} columns={columns} sorted-by={sortedBy}
            sorted-direction={sortedDirection} default-sort-direction="desc" onsort={doSorting} hide-checkbox-column
            onupdatequantity={doUpdateQuantity} onrowaction={handleRowAction} column-widths-mode="auto"
            resize-column-disabled>
        </c-x7s-datatable-utility>
    </div>

    <!-- <lightning-datatable data={data} columns={columns} key-field="id">
    </lightning-datatable> -->
</template>