/*
 * Copyright (c) 2020. 7Summits Inc. All rights reserved.
 */

.THIS .mobileImage {
    display: none;
}
.THIS .productImage {
    width: 32px;
}

@media (min-width: 1024px) {
    .THIS .mobileImage {
        display: block;
    }
}