/**
 * Expedition_Pack - Front-end assets used for the 7Summits Expedition Pack
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .peak-tile__title {
  font-weight: bold;
  display: block;
  transition: color 0.25s ease-in-out;
  text-transform: token(transformText);
}
.THIS .peak-tile__description {
  font-size: 0.875rem;
  display: block;
  transition: color 0.25s ease-in-out;
  color: #555;
}
.THIS .peak-tile__title + .peak-tile__description {
  margin-top: 3px;
}
.THIS .peak-tile__info,
.THIS .slds-rich-text-editor__output {
  line-height: 1.1;
}
.THIS .peak-tile__image {
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}
.THIS .peak-tile__image-wrapper {
  overflow: hidden;
}
.THIS.peak-tile_list {
  width: 100%;
  padding: 0.5rem token(spacingSmall);
  color: token(textColor);
  background-color: rgba(0, 0, 0, 0);
}
.THIS.peak-tile_list:hover,
.THIS.peak-tile_list:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
}
.THIS.peak-tile_list .peak-tile__image-wrapper {
  height: 48px;
  margin-right: token(spacingSmall);
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
}
.THIS.peak-tile_list .peak-tile__image {
  display: block;
  width: 48px;
  height: 48px;
}
.THIS.peak-tile_list .peak-tile__info {
  background: rgba(0, 0, 0, 0);
}
.THIS.peak-tile_list.peak-tile_animated {
  transition: background-color 0.25s ease-in-out;
}
.THIS.peak-tile_tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: token(spacingSmall);
  color: #fff;
  border-radius: token(borderRadiusMedium);
  background-color: token(brandColor);
}
.THIS.peak-tile_tile:hover,
.THIS.peak-tile_tile:focus {
  text-decoration: none;
}
.THIS.peak-tile_tile:hover .peak-tile__overlay,
.THIS.peak-tile_tile:focus .peak-tile__overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.THIS.peak-tile_tile:before {
  float: left;
  padding-top: 100%;
  content: '';
}
.THIS.peak-tile_tile .peak-tile__info {
  position: relative;
}
.THIS.peak-tile_tile .peak-tile__description {
  color: rgba(255, 255, 255, 0.8);
}
.THIS.peak-tile_tile .peak-tile__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.THIS.peak-tile_tile .peak-tile__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}
.THIS.peak-tile_tile.peak-tile_animated .peak-tile__image {
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.THIS.peak-tile_tile.peak-tile_animated:hover .peak-tile__image,
.THIS.peak-tile_tile.peak-tile_animated:focus .peak-tile__image {
  transform: scale(1.1);
}
.THIS.peak-tile_icon {
  width: 100%;
  color: token(textColor);
}
.THIS.peak-tile_icon:hover,
.THIS.peak-tile_icon:focus {
  text-decoration: none;
}
.THIS.peak-tile_icon .peak-tile__image-wrapper {
  display: inline-block;
  width: 100%;
}
.THIS.peak-tile_icon .peak-tile__image-outer-wrapper {
  width: 100%;
  height: 48px;
  margin-bottom: token(spacingXSmall);
}
.THIS.peak-tile_icon .peak-tile__icon {
  display: flex;
  overflow: hidden;
  text-align: center;
  background-color: token(brandColor);
}
.THIS.peak-tile_icon .peak-tile__icon .slds-icon,
.THIS.peak-tile_icon .peak-tile__icon img {
  display: block;
  width: 56%;
  height: 56%;
  margin: 22%;
  fill: currentColor;
}
.THIS.peak-tile_icon .peak-tile__icon-text {
  display: block;
  width: 100%;
}
.THIS.peak-tile_icon .peak-tile__info {
  width: 100%;
}
.THIS.peak-tile_icon.slds-text-align_left .peak-tile__image-wrapper {
  margin-left: 0;
}
.THIS.peak-tile_icon.slds-text-align_right .peak-tile__image-wrapper {
  margin-right: 0;
}
.THIS.peak-tile_icon .peak-tile__image {
  display: inline-block;
  height: 48px;
}
.THIS.peak-tile_icon.peak-tile_animated .peak-tile__image {
  transition: transform 0.25s ease-in-out;
  transform: scale(1.0001);
  transform-origin: 50% 50%;
}
.THIS.peak-tile_icon.peak-tile_animated:hover .peak-tile__image,
.THIS.peak-tile_icon.peak-tile_animated:focus .peak-tile__image {
  transform: scale(1.1);
}