/**
 * salesforce-app - Salesforce App
 * @version 1.0.0
 * @author 
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .cBrandingLogo
{
    background-image: t('url(' + brandLogoImage + ')');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.THIS {
  font-family: "Roboto", sans-serif;
}
.THIS .slds-container_x-large {
  max-width: 74rem;
}
.THIS .slds-col_padded,
.THIS .slds-col--padded {
  padding-right: 1rem;
  padding-left: 1rem;
}
.THIS .forceSkipLink {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 6px 12px;
  background: transparent;
}
.THIS .cBrandingProfile {
  min-width: 150px;
}
.THIS .cBrandingLogo {
  position: relative;
  display: block;
  outline: 0;
  width: 200px;
  height: 110px;
}
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
  text-align: left;
}
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger a:hover,
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger a:focus,
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger a:active {
  color: t(inverseTextColor);
}
.THIS .cNotifications .forceIcon.slds-button__icon .slds-icon {
  fill: #fff;
}
.THIS .cNotifications .uiTooltip .tooltip-invisible {
  display: none;
}
.THIS .cSearchPublisher {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: auto;
}
.THIS .cFooterPanel {
  background-color: t(borderColor);
}
.THIS .x7s-line-through {
  text-decoration: line-through;
}
.THIS .siteforceContentArea .slds-modal__footer a.slds-text-color_inverse {
  color: var(--lwc-colorTextInverse, #ffffff);
}
.THIS .siteforceContentArea a,
.THIS .siteforceContentArea .forceCommunityRichText a {
  color: #3582b8;
}
.THIS .siteforceContentArea h1:not([class*="slds-page-header__title"]) {
  font-size: 2.25rem;
  color: #606060;
  line-height: 1.2;
  font-weight: normal;
}
.THIS .siteforceContentArea h1,
.THIS .siteforceContentArea h2 {
  font-weight: bold;
}
.THIS .siteforceContentArea h2 {
  font-size: 1.875rem;
  line-height: 1.2;
}
.THIS .siteforceContentArea h3,
.THIS .siteforceContentArea h4,
.THIS .siteforceContentArea h5 {
  color: t(labelColor);
  font-weight: normal;
}
.THIS .siteforceContentArea h3,
.THIS .siteforceContentArea h4 {
  font-size: 1.625rem;
}
.THIS .nvent-brand-color {
  color: #c4262e;
}
.THIS .forceCommunityUserProfileWithBanner .content {
  background-color: white;
}
.THIS .forceCommunityUserProfileWithBanner .content .branding-actions a.forceActionLink {
  border-radius: 1.5rem;
  padding: 0.25rem 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #c4262e;
}
.THIS .forceCommunityUserProfileWithBanner .content .branding-actions a.forceActionLink:hover {
  color: #fff;
  background-color: #88030a;
}
.THIS .nvent-cart-summary_container {
  background-color: #f6f6f6;
  position: relative;
}
.THIS .nvent-text_muted {
  color: #485f71;
}
.THIS .comm-navigation__list > .slds-list__item {
  padding: 0 1rem;
}
.THIS .comm-navigation__list > .slds-list__item a {
  font-size: 1.25rem;
  padding: 1rem 0;
  border-bottom: 5px solid transparent;
}
.THIS .comm-navigation__list > .slds-list__item a:hover {
  border-bottom: 5px solid #c4262e;
}
.THIS .forceCommunityGlobalNavigation .slds-list__item a,
.THIS .forceCommunityGlobalNavigation .slds-list__item button {
  text-transform: none;
}
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .comm-navigation__item > a:hover,
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .comm-navigation__item > a.slds-is-active:not([data-type="home"]),
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .comm-navigation__item > button:hover,
.THIS .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .comm-navigation__item > button.slds-is-active:not([data-type="home"]) {
  background-color: transparent;
}
.THIS .uiTabset--base .tabs__item {
  font-size: 1.125rem;
}
.THIS .uiTabset--default .tabs__nav {
  border-bottom: 2px solid transparent;
}
.THIS .uiTabset--default .tabs__item {
  text-transform: none;
  letter-spacing: 0;
  position: relative;
  bottom: -4px;
}
.THIS .uiTabset--default .tabs__item:not(.active) > a,
.THIS .uiTabset--default .uiTabOverflowMenuItem a {
  color: #606060;
  border-bottom: 2px solid transparent;
}
.THIS .uiTabset--default .tabs__item > a,
.THIS .uiTabset--default .uiTabOverflowMenuItem a {
  border-bottom: 2px solid transparent;
}
.THIS .uiTabset--default .tabs__item > a:hover,
.THIS .uiTabset--default .uiTabOverflowMenuItem a:hover {
  text-decoration: none;
  color: #c4262e;
}
.THIS .uiTabset--default .tabs__item.active > a {
  border-color: #c4262e;
  color: #000;
}
.THIS .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  text-transform: uppercase;
  padding: 20px 40px;
}
.THIS .status-open {
  color: #2f855a;
}
.THIS .nvent-cart .slds-table .slds-th__action-button {
  display: none;
}
.THIS .nvent-cart .slds-table .nvent-datatable-date-column {
  padding: 8px 24px 8px 8px !important;
}
.THIS .nvent-cart .slds-table .slds-has-button-menu .slds-th__action {
  padding-right: 0.25rem;
}
.THIS .nvent-cart .slds-table thead th {
  color: #000;
}
.THIS .nvent-cart .slds-table thead th a {
  color: #000;
}
.THIS .nvent-cart .slds-table thead th a:hover {
  color: #000;
}
.THIS .nvent-cart .slds-table th[colspan] {
  background: #eee;
}
.THIS .nvent-cart .slds-table th[colspan]:hover {
  background: #eee;
}
.THIS .nvent-cart .slds-table.slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-is-selected),
.THIS .nvent-cart .slds-table.slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-is-selected),
.THIS .nvent-cart .slds-table.slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus > td:not(.slds-is-selected),
.THIS .nvent-cart .slds-table.slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus > th:not(.slds-is-selected) {
  box-shadow: none;
}
.THIS .nvent-cart .slds-table.slds-table_header-fixed.slds-table_bordered {
  border-top: 3px solid t(borderColor);
}
.THIS .nvent-cart .slds-table .slds-button {
  max-width: 100%;
  white-space: nowrap;
}
.THIS .nvent-cart .slds-table .slds-has-focus.slds-is-resizable .slds-th__action,
.THIS .nvent-cart .slds-table .slds-has-focus.slds-is-resizable .slds-th__action:focus,
.THIS .nvent-cart .slds-table .slds-has-focus.slds-is-resizable .slds-th__action:hover,
.THIS .nvent-cart .slds-table .slds-has-focus.slds-is-resizable .slds-th__action:focus:hover,
.THIS .nvent-cart .slds-table .slds-is-resizable .slds-th__action:focus,
.THIS .nvent-cart .slds-table .slds-is-resizable .slds-th__action:focus:hover {
  box-shadow: none;
}
.THIS .nvent-cart .slds-table th:focus,
.THIS .nvent-cart .slds-table th.slds-has-focus,
.THIS .nvent-cart .slds-table [role="gridcell"]:focus,
.THIS .nvent-cart .slds-table [role="gridcell"].slds-has-focus {
  box-shadow: none;
}
.THIS .nvent-cart .slds-table th:focus .slds-th__action,
.THIS .nvent-cart .slds-table th.slds-has-focus .slds-th__action,
.THIS .nvent-cart .slds-table [role="gridcell"]:focus .slds-th__action,
.THIS .nvent-cart .slds-table [role="gridcell"].slds-has-focus .slds-th__action {
  box-shadow: none;
}
.THIS .nvent-cart .slds-table thead th .slds-text-title_caps {
  font-weight: 900;
}
.THIS .nvent-cart .slds-table thead th .slds-is-sortable .slds-th__action:hover,
.THIS .nvent-cart .slds-table thead th .slds-is-sortable .slds-th__action:focus,
.THIS .nvent-cart .slds-table thead th .slds-is-sortable.slds-has-focus .slds-th__action,
.THIS .nvent-cart .slds-table thead th .slds-is-sortable.slds-has-focus .slds-th__action:hover,
.THIS .nvent-cart .slds-table thead th .slds-is-sortable.slds-has-focus .slds-th__action:focus {
  background-color: transparent;
}
.THIS .nvent-cart lightning-primitive-cell-factory > .slds-truncate {
  overflow: visible;
}
.THIS .nvent-cart tbody td {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}
.THIS .nvent-cart .slds-th__action-button {
  display: none;
}
.THIS .slds-button {
  border-radius: 1.5rem;
  padding: 0.25rem 2rem;
  text-transform: uppercase;
}
.THIS .slds-button.slds-button_icon-x-small {
  border-radius: 4px;
  padding: 1px 6px;
}
.THIS .slds-button.slds-input__icon {
  padding: 0;
}
.THIS .slds-button > i {
  padding-left: 10px;
}
.THIS .slds-button > i::before {
  color: #c4262e;
}
.THIS .slds-button.slds-button_brand:hover,
.THIS .slds-button.slds-button--brand:hover {
  color: #fff;
  background-color: #88030a;
}
.THIS .slds-button.slds-button_brand > i::before,
.THIS .slds-button.slds-button--brand > i::before {
  color: #fff;
}
.THIS .slds-button.slds-button_outline-brand {
  border-color: #88030a;
}
.THIS .slds-button.slds-button_outline-brand > i::before {
  color: #88030a;
}
.THIS .slds-button.slds-button_outline-brand:hover {
  background-color: #88030a;
  border-color: #88030a;
  color: #fff;
}
.THIS .slds-button.slds-button_outline-brand:hover > i::before {
  color: #fff;
}
.THIS .slds-button.slds-button_neutral,
.THIS .slds-button.slds-button--neutral {
  border-color: transparent;
}
.THIS .slds-button.slds-button_neutral:hover,
.THIS .slds-button.slds-button--neutral:hover {
  color: #88030a;
  background-color: transparent;
}
.THIS .slds-button.slds-button_neutral:hover > i::before,
.THIS .slds-button.slds-button--neutral:hover > i::before {
  color: #88030a;
}
@media only screen and (max-width: 992px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .THIS .nvent-cart .slds-table {
    display: block;
  }
  .THIS .nvent-cart .slds-table .nvent-datatable-date-column {
    padding: 8px 24px 8px 50% !important;
  }
  .THIS .nvent-cart .slds-table thead,
  .THIS .nvent-cart .slds-table tbody,
  .THIS .nvent-cart .slds-table th,
  .THIS .nvent-cart .slds-table td,
  .THIS .nvent-cart .slds-table tr {
    display: block;
  }
  .THIS .nvent-cart .slds-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .THIS .nvent-cart .slds-table tr {
    border: 1px solid #ccc;
  }
  .THIS .nvent-cart .slds-table tbody th,
  .THIS .nvent-cart .slds-table tbody td {
    border: none;
    border-bottom: 1px solid t(borderColor) !important;
    position: relative;
    padding-left: 50% !important;
    white-space: normal;
    text-align: left;
    min-height: 2.375rem;
  }
  .THIS .nvent-cart .slds-table tbody th:before,
  .THIS .nvent-cart .slds-table tbody td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .THIS .nvent-cart .slds-table tbody th:before,
  .THIS .nvent-cart .slds-table tbody td:before {
    content: attr(data-label);
  }
  .THIS .nvent-cart .slds-table tbody .slds-grid_align-end {
    justify-content: flex-start;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .THIS lightning-layout > slot,
  .THIS lightning-layout-item > slot {
    display: inherit;
    width: 100%;
    flex-wrap: inherit;
  }
}
@supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
  .THIS lightning-layout > slot,
  .THIS lightning-layout-item > slot {
    display: inherit;
    width: 100%;
    flex-wrap: inherit;
  }
}
@media only screen and (min-width: 64.0625em) {
  .THIS .selfServiceUserProfileMenu .profileName {
    display: none;
  }
}
@media only screen and (min-aspect-ratio: 1.33333333) and (min-width: 48em), only screen and (min-width: 64.0625em) {
  .THIS .selfServiceProfileMenuTrigger .trigger-link {
    padding: 14px 0 14px 10px;
  }
}
@media only screen and (min-width: 72em) {
  .THIS .forceCommunityGlobalNavigation .overflowContainer {
    display: none !important;
  }
  .THIS .forceCommunityGlobalNavigation .slds-list__item.slds-hidden {
    visibility: visible !important;
    position: relative;
    z-index: 1;
    pointer-events: all;
  }
}
